# Configuration file

blocks.crates {
	UseOverlayIcon_false=false
}

debug {
	logs_false=false
	oredict_false=false
	misc_false=false
	experiments_false=false
	block_update_sounds_false=false
	april_fools_false=false
	xmas_july_false=false
	xmas_december_false=false
}

general {
	sound_tools_true=true
	useGTAlphaBlending_false=false
	useMCAlphaBlending_false=false
}

visibility {
	HiddenGTItems_false=false
	HiddenGTMaterials_false=false
	HiddenGTPrefixes_false=false
	MicroBlocks_false=false
	Bumblebees_false=false
	OreBlocks_false=false
	InternalNames_false=false
	ChemTooltips_true=true
	HiddenGTFluidDisplay_false=false
}

