# Configuration file

Anvil_Bending_Small {
	plateLithium;item.gregapi.gt.empty_slot;_64=64
	plateLithium6;item.gregapi.gt.empty_slot;_64=64
	plateBeryllium;item.gregapi.gt.empty_slot;_192=192
	plateBeryllium7;item.gregapi.gt.empty_slot;_64=64
	plateBeryllium8;item.gregapi.gt.empty_slot;_64=64
	plateBoron;item.gregapi.gt.empty_slot;_64=64
	plateBoron11;item.gregapi.gt.empty_slot;_64=64
	plateSodium;item.gregapi.gt.empty_slot;_64=64
	plateMagnesium;item.gregapi.gt.empty_slot;_64=64
	plateAluminium;item.gregapi.gt.empty_slot;_192=192
	plateSilicon;item.gregapi.gt.empty_slot;_64=64
	platePotassium;item.gregapi.gt.empty_slot;_64=64
	plateCalcium;item.gregapi.gt.empty_slot;_64=64
	plateScandium;item.gregapi.gt.empty_slot;_64=64
	plateTitanium;item.gregapi.gt.empty_slot;_256=256
	plateVanadium;item.gregapi.gt.empty_slot;_64=64
	plateChromium;item.gregapi.gt.empty_slot;_256=256
	plateManganese;item.gregapi.gt.empty_slot;_192=192
	plateIron;item.gregapi.gt.empty_slot;_192=192
	plateCobalt;item.gregapi.gt.empty_slot;_256=256
	plateCobalt60;item.gregapi.gt.empty_slot;_256=256
	plateNickel;item.gregapi.gt.empty_slot;_192=192
	plateCopper;item.gregapi.gt.empty_slot;_64=64
	plateZinc;item.gregapi.gt.empty_slot;_64=64
	plateGallium;item.gregapi.gt.empty_slot;_64=64
	plateGermanium;item.gregapi.gt.empty_slot;_192=192
	plateArsenic;item.gregapi.gt.empty_slot;_64=64
	plateRubidium;item.gregapi.gt.empty_slot;_64=64
	plateStrontium;item.gregapi.gt.empty_slot;_64=64
	plateYttrium;item.gregapi.gt.empty_slot;_64=64
	plateZirconium;item.gregapi.gt.empty_slot;_256=256
	plateNiobium;item.gregapi.gt.empty_slot;_64=64
	plateMolybdenum;item.gregapi.gt.empty_slot;_192=192
	plateTechnetium;item.gregapi.gt.empty_slot;_128=128
	plateRuthenium;item.gregapi.gt.empty_slot;_64=64
	plateRhodium;item.gregapi.gt.empty_slot;_64=64
	platePalladium;item.gregapi.gt.empty_slot;_192=192
	plateSilver;item.gregapi.gt.empty_slot;_192=192
	plateCadmium;item.gregapi.gt.empty_slot;_64=64
	plateIndium;item.gregapi.gt.empty_slot;_64=64
	plateTin;item.gregapi.gt.empty_slot;_64=64
	plateAntimony;item.gregapi.gt.empty_slot;_64=64
	plateTellurium;item.gregapi.gt.empty_slot;_64=64
	plateCaesium;item.gregapi.gt.empty_slot;_64=64
	plateBarium;item.gregapi.gt.empty_slot;_64=64
	plateLanthanium;item.gregapi.gt.empty_slot;_64=64
	plateCerium;item.gregapi.gt.empty_slot;_64=64
	platePraseodymium;item.gregapi.gt.empty_slot;_64=64
	plateNeodymium;item.gregapi.gt.empty_slot;_256=256
	platePromethium;item.gregapi.gt.empty_slot;_64=64
	plateSamarium;item.gregapi.gt.empty_slot;_64=64
	plateEuropium;item.gregapi.gt.empty_slot;_64=64
	plateGadolinium;item.gregapi.gt.empty_slot;_64=64
	plateTerbium;item.gregapi.gt.empty_slot;_64=64
	plateDysprosium;item.gregapi.gt.empty_slot;_64=64
	plateHolmium;item.gregapi.gt.empty_slot;_64=64
	plateErbium;item.gregapi.gt.empty_slot;_64=64
	plateThulium;item.gregapi.gt.empty_slot;_64=64
	plateYtterbium;item.gregapi.gt.empty_slot;_64=64
	plateLutetium;item.gregapi.gt.empty_slot;_64=64
	plateHafnium;item.gregapi.gt.empty_slot;_64=64
	plateTantalum;item.gregapi.gt.empty_slot;_64=64
	plateTungsten;item.gregapi.gt.empty_slot;_256=256
	plateRhenium;item.gregapi.gt.empty_slot;_64=64
	plateOsmiumElemental;item.gregapi.gt.empty_slot;_320=320
	plateIridium;item.gregapi.gt.empty_slot;_320=320
	platePlatinum;item.gregapi.gt.empty_slot;_192=192
	plateGold;item.gregapi.gt.empty_slot;_192=192
	plateGold198;item.gregapi.gt.empty_slot;_64=64
	plateMercury;item.gregapi.gt.empty_slot;_64=64
	plateThallium;item.gregapi.gt.empty_slot;_64=64
	plateLead;item.gregapi.gt.empty_slot;_128=128
	plateBismuth;item.gregapi.gt.empty_slot;_128=128
	platePolonium;item.gregapi.gt.empty_slot;_64=64
	plateAstatine;item.gregapi.gt.empty_slot;_64=64
	plateFrancium;item.gregapi.gt.empty_slot;_64=64
	plateRadium;item.gregapi.gt.empty_slot;_64=64
	plateActinium;item.gregapi.gt.empty_slot;_64=64
	plateThorium;item.gregapi.gt.empty_slot;_192=192
	plateProtactinium;item.gregapi.gt.empty_slot;_64=64
	plateUranium;item.gregapi.gt.empty_slot;_256=256
	plateUranium235;item.gregapi.gt.empty_slot;_256=256
	plateUranium233;item.gregapi.gt.empty_slot;_256=256
	plateNeptunium;item.gregapi.gt.empty_slot;_64=64
	platePlutonium;item.gregapi.gt.empty_slot;_256=256
	platePlutonium240;item.gregapi.gt.empty_slot;_256=256
	platePlutonium241;item.gregapi.gt.empty_slot;_256=256
	platePlutonium243;item.gregapi.gt.empty_slot;_256=256
	platePlutonium238;item.gregapi.gt.empty_slot;_256=256
	platePlutonium239;item.gregapi.gt.empty_slot;_256=256
	plateAmericium;item.gregapi.gt.empty_slot;_192=192
	plateAmericium241;item.gregapi.gt.empty_slot;_192=192
	plateAmericium242;item.gregapi.gt.empty_slot;_192=192
	plateCurium;item.gregapi.gt.empty_slot;_64=64
	plateBerkelium;item.gregapi.gt.empty_slot;_64=64
	plateCalifornium;item.gregapi.gt.empty_slot;_64=64
	plateEinsteinium;item.gregapi.gt.empty_slot;_64=64
	plateFermium;item.gregapi.gt.empty_slot;_64=64
	plateMendelevium;item.gregapi.gt.empty_slot;_64=64
	plateNobelium;item.gregapi.gt.empty_slot;_64=64
	plateLawrencium;item.gregapi.gt.empty_slot;_64=64
	plateRutherfordium;item.gregapi.gt.empty_slot;_64=64
	plateDubnium;item.gregapi.gt.empty_slot;_64=64
	plateSeaborgium;item.gregapi.gt.empty_slot;_64=64
	plateBohrium;item.gregapi.gt.empty_slot;_64=64
	plateHassium;item.gregapi.gt.empty_slot;_64=64
	plateCopernicium;item.gregapi.gt.empty_slot;_64=64
	plateFlerovium;item.gregapi.gt.empty_slot;_64=64
	plateFlerovium298;item.gregapi.gt.empty_slot;_64=64
	plateTrinium;item.gregapi.gt.empty_slot;_320=320
	plateNaquadah;item.gregapi.gt.empty_slot;_320=320
	plateNaquadahEnriched;item.gregapi.gt.empty_slot;_320=320
	plateNaquadria;item.gregapi.gt.empty_slot;_320=320
	plateAbyssalnite;item.gregapi.gt.empty_slot;_256=256
	plateCoralium;item.gregapi.gt.empty_slot;_256=256
	plateDreadium;item.gregapi.gt.empty_slot;_320=320
	plateEthaxium;item.gregapi.gt.empty_slot;_320=320
	plateAtlarus;item.gregapi.gt.empty_slot;_320=320
	plateAdamantium;item.gregapi.gt.empty_slot;_384=384
	plateCarborundum;item.gregapi.gt.empty_slot;_256=256
	plateFerrite;item.gregapi.gt.empty_slot;_64=64
	plateWroughtIron;item.gregapi.gt.empty_slot;_192=192
	plateAnnealedCopper;item.gregapi.gt.empty_slot;_64=64
	plateAlduorite;item.gregapi.gt.empty_slot;_192=192
	plateInfuscolium;item.gregapi.gt.empty_slot;_192=192
	plateRubracium;item.gregapi.gt.empty_slot;_192=192
	plateMeutoite;item.gregapi.gt.empty_slot;_192=192
	plateLemurite;item.gregapi.gt.empty_slot;_192=192
	plateAredrite;item.gregapi.gt.empty_slot;_256=256
	plateCeruclase;item.gregapi.gt.empty_slot;_192=192
	plateOureclase;item.gregapi.gt.empty_slot;_256=256
	plateKalendrite;item.gregapi.gt.empty_slot;_256=256
	plateCarmot;item.gregapi.gt.empty_slot;_128=128
	plateSanguinite;item.gregapi.gt.empty_slot;_320=320
	plateVyroxeres;item.gregapi.gt.empty_slot;_256=256
	plateEximite;item.gregapi.gt.empty_slot;_256=256
	plateIgnatius;item.gregapi.gt.empty_slot;_192=192
	plateDeepIron;item.gregapi.gt.empty_slot;_192=192
	plateShadowIron;item.gregapi.gt.empty_slot;_192=192
	plateAdamantine;item.gregapi.gt.empty_slot;_384=384
	platePrometheum;item.gregapi.gt.empty_slot;_128=128
	plateVulcanite;item.gregapi.gt.empty_slot;_256=256
	plateOrichalcum;item.gregapi.gt.empty_slot;_256=256
	plateAstralSilver;item.gregapi.gt.empty_slot;_192=192
	plateMidasium;item.gregapi.gt.empty_slot;_192=192
	plateMithril;item.gregapi.gt.empty_slot;_256=256
	plateCelenegil;item.gregapi.gt.empty_slot;_256=256
	plateShadowSteel;item.gregapi.gt.empty_slot;_192=192
	plateInolashite;item.gregapi.gt.empty_slot;_256=256
	plateHaderoth;item.gregapi.gt.empty_slot;_256=256
	plateDesichalkos;item.gregapi.gt.empty_slot;_320=320
	plateTartarite;item.gregapi.gt.empty_slot;_384=384
	plateAmordrine;item.gregapi.gt.empty_slot;_256=256
	plateElectrum;item.gregapi.gt.empty_slot;_192=192
	plateSterlingSilver;item.gregapi.gt.empty_slot;_192=192
	plateRoseGold;item.gregapi.gt.empty_slot;_192=192
	plateAngmallen;item.gregapi.gt.empty_slot;_192=192
	plateGoldInductive;item.gregapi.gt.empty_slot;_64=64
	plateCdInAgAlloy;item.gregapi.gt.empty_slot;_64=64
	plateBrass;item.gregapi.gt.empty_slot;_128=128
	plateCobaltBrass;item.gregapi.gt.empty_slot;_192=192
	plateAluminiumAlloy;item.gregapi.gt.empty_slot;_192=192
	plateBronze;item.gregapi.gt.empty_slot;_192=192
	plateBlackBronze;item.gregapi.gt.empty_slot;_192=192
	plateBismuthBronze;item.gregapi.gt.empty_slot;_192=192
	plateHepatizon;item.gregapi.gt.empty_slot;_192=192
	plateArsenicCopper;item.gregapi.gt.empty_slot;_192=192
	plateArsenicBronze;item.gregapi.gt.empty_slot;_192=192
	plateSteel;item.gregapi.gt.empty_slot;_192=192
	plateBlackSteel;item.gregapi.gt.empty_slot;_192=192
	plateBlueSteel;item.gregapi.gt.empty_slot;_192=192
	plateRedSteel;item.gregapi.gt.empty_slot;_192=192
	plateDamascusSteel;item.gregapi.gt.empty_slot;_192=192
	plateVanadiumSteel;item.gregapi.gt.empty_slot;_256=256
	plateTungstensteel;item.gregapi.gt.empty_slot;_320=320
	plateTungstenCarbide;item.gregapi.gt.empty_slot;_320=320
	plateHSLASteel;item.gregapi.gt.empty_slot;_192=192
	plateHSLASpringSteel;item.gregapi.gt.empty_slot;_192=192
	plateHSLATungstenAlloy;item.gregapi.gt.empty_slot;_192=192
	platePigIron;item.gregapi.gt.empty_slot;_192=192
	plateIronCompressed;item.gregapi.gt.empty_slot;_192=192
	plateCastIron;item.gregapi.gt.empty_slot;_192=192
	plateDarkIron;item.gregapi.gt.empty_slot;_256=256
	plateTungstenSintered;item.gregapi.gt.empty_slot;_256=256
	plateTitaniumGold;item.gregapi.gt.empty_slot;_320=320
	plateTantalumHafniumCarbide;item.gregapi.gt.empty_slot;_192=192
	plateMeteoricIron;item.gregapi.gt.empty_slot;_192=192
	plateMeteoricSteel;item.gregapi.gt.empty_slot;_192=192
	plateMeteoricBlackSteel;item.gregapi.gt.empty_slot;_192=192
	plateMeteoricBlueSteel;item.gregapi.gt.empty_slot;_192=192
	plateMeteoricRedSteel;item.gregapi.gt.empty_slot;_192=192
	plateRedAlloy;item.gregapi.gt.empty_slot;_64=64
	plateBlueAlloy;item.gregapi.gt.empty_slot;_64=64
	platePurpleAlloy;item.gregapi.gt.empty_slot;_64=64
	plateMingrade;item.gregapi.gt.empty_slot;_64=64
	plateRedstoneAlloy;item.gregapi.gt.empty_slot;_64=64
	plateNikolineAlloy;item.gregapi.gt.empty_slot;_64=64
	plateElectrotineAlloy;item.gregapi.gt.empty_slot;_64=64
	plateElectrumFlux;item.gregapi.gt.empty_slot;_192=192
	plateConductiveIron;item.gregapi.gt.empty_slot;_192=192
	plateEnergeticSilver;item.gregapi.gt.empty_slot;_64=64
	plateInvar;item.gregapi.gt.empty_slot;_192=192
	plateConstantan;item.gregapi.gt.empty_slot;_128=128
	plateNichrome;item.gregapi.gt.empty_slot;_192=192
	plateKanthal;item.gregapi.gt.empty_slot;_192=192
	plateMagnalium;item.gregapi.gt.empty_slot;_192=192
	plateStainlessSteel;item.gregapi.gt.empty_slot;_192=192
	plateUltimet;item.gregapi.gt.empty_slot;_256=256
	plateTinAlloy;item.gregapi.gt.empty_slot;_192=192
	plateBatteryAlloy;item.gregapi.gt.empty_slot;_64=64
	plateSolderingAlloy;item.gregapi.gt.empty_slot;_64=64
	plateIronwood;item.gregapi.gt.empty_slot;_192=192
	plateSteeleaf;item.gregapi.gt.empty_slot;_256=256
	plateKnightmetal;item.gregapi.gt.empty_slot;_256=256
	plateFierySteel;item.gregapi.gt.empty_slot;_320=320
	plateFireleaf;item.gregapi.gt.empty_slot;_320=320
	plateMeteoflameSteel;item.gregapi.gt.empty_slot;_320=320
	plateMeteoflameBlackSteel;item.gregapi.gt.empty_slot;_320=320
	plateMeteoflameBlueSteel;item.gregapi.gt.empty_slot;_320=320
	plateMeteoflameRedSteel;item.gregapi.gt.empty_slot;_320=320
	plateFlamascusSteel;item.gregapi.gt.empty_slot;_320=320
	plateThaumium;item.gregapi.gt.empty_slot;_256=256
	plateDarkThaumium;item.gregapi.gt.empty_slot;_256=256
	plateVoidMetal;item.gregapi.gt.empty_slot;_320=320
	plateOsmiridium;item.gregapi.gt.empty_slot;_320=320
	plateSunnarium;item.gregapi.gt.empty_slot;_64=64
	plateChromiumDioxide;item.gregapi.gt.empty_slot;_256=256
	plateVanadiumGallium;item.gregapi.gt.empty_slot;_64=64
	plateYttriumBariumCuprate;item.gregapi.gt.empty_slot;_64=64
	plateNiobiumNitride;item.gregapi.gt.empty_slot;_64=64
	plateNiobiumTitanium;item.gregapi.gt.empty_slot;_64=64
	plateAluminiumBrass;item.gregapi.gt.empty_slot;_192=192
	plateArdite;item.gregapi.gt.empty_slot;_256=256
	plateAlumite;item.gregapi.gt.empty_slot;_256=256
	plateManyullyn;item.gregapi.gt.empty_slot;_256=256
	plateVibraniumSteel;item.gregapi.gt.empty_slot;_704=704
	plateVibraniumSilver;item.gregapi.gt.empty_slot;_640=640
	plateVibramantium;item.gregapi.gt.empty_slot;_1024=1024
	plateSignalum;item.gregapi.gt.empty_slot;_64=64
	plateLumium;item.gregapi.gt.empty_slot;_64=64
	plateEnderiumBase;item.gregapi.gt.empty_slot;_64=64
	plateEnderium;item.gregapi.gt.empty_slot;_256=256
	plateYellorium;item.gregapi.gt.empty_slot;_64=64
	plateBlutonium;item.gregapi.gt.empty_slot;_64=64
	plateCyanite;item.gregapi.gt.empty_slot;_64=64
	plateLudicrite;item.gregapi.gt.empty_slot;_64=64
	plateBedrockHSLAAlloy;item.gregapi.gt.empty_slot;_384=384
	plateObsidianSteel;item.gregapi.gt.empty_slot;_192=192
	platePulsatingIron;item.gregapi.gt.empty_slot;_192=192
	plateEnergeticAlloy;item.gregapi.gt.empty_slot;_192=192
	plateVibrantAlloy;item.gregapi.gt.empty_slot;_192=192
	plateElectricalSteel;item.gregapi.gt.empty_slot;_192=192
	plateSoularium;item.gregapi.gt.empty_slot;_192=192
	plateClayCompound;item.gregapi.gt.empty_slot;_64=64
	plateEndSteel;item.gregapi.gt.empty_slot;_64=64
	plateMelodicAlloy;item.gregapi.gt.empty_slot;_64=64
	plateStellarAlloy;item.gregapi.gt.empty_slot;_64=64
	plateVividAlloy;item.gregapi.gt.empty_slot;_64=64
	plateCrystallineAlloy;item.gregapi.gt.empty_slot;_64=64
	plateCrystallinePinkSlime;item.gregapi.gt.empty_slot;_64=64
	plateSpectreIron;item.gregapi.gt.empty_slot;_192=192
	plateManasteel;item.gregapi.gt.empty_slot;_256=256
	plateTerrasteel;item.gregapi.gt.empty_slot;_320=320
	plateElvenElementium;item.gregapi.gt.empty_slot;_256=256
	plateGaiaSpirit;item.gregapi.gt.empty_slot;_320=320
	plateEndium;item.gregapi.gt.empty_slot;_256=256
	plateMauftrium;item.gregapi.gt.empty_slot;_256=256
	plateElvorium;item.gregapi.gt.empty_slot;_256=256
	plateNiflheimPower;item.gregapi.gt.empty_slot;_256=256
	plateMuspelheimPower;item.gregapi.gt.empty_slot;_256=256
	plateAncientDebris;item.gregapi.gt.empty_slot;_256=256
	plateNetherite;item.gregapi.gt.empty_slot;_320=320
	plateEfrine;item.gregapi.gt.empty_slot;_256=256
	plateDesh;item.gregapi.gt.empty_slot;_256=256
	plateWorkersAlloy;item.gregapi.gt.empty_slot;_192=192
	plateDuranium;item.gregapi.gt.empty_slot;_320=320
	plateTritanium;item.gregapi.gt.empty_slot;_384=384
	plateOriharukon;item.gregapi.gt.empty_slot;_192=192
	plateAdamantite;item.gregapi.gt.empty_slot;_256=256
	plateDuralumin;item.gregapi.gt.empty_slot;_192=192
	plateMeteorite;item.gregapi.gt.empty_slot;_256=256
	plateKreknorite;item.gregapi.gt.empty_slot;_256=256
	plateSyrmorite;item.gregapi.gt.empty_slot;_128=128
	plateOctine;item.gregapi.gt.empty_slot;_192=192
	plateHSSG;item.gregapi.gt.empty_slot;_256=256
	plateHSSE;item.gregapi.gt.empty_slot;_320=320
	plateHSSS;item.gregapi.gt.empty_slot;_320=320
	plateBedrockium;item.gregapi.gt.empty_slot;_64=64
	plateDraconium;item.gregapi.gt.empty_slot;_320=320
	plateDraconiumAwakened;item.gregapi.gt.empty_slot;_384=384
	plateCrystalMatrix;item.gregapi.gt.empty_slot;_320=320
	plateCosmicNeutronium;item.gregapi.gt.empty_slot;_704=704
	plateInfinity;item.gregapi.gt.empty_slot;_1024=1024
	plateUnstable;item.gregapi.gt.empty_slot;_64=64
	plateTrinaquadalloy;item.gregapi.gt.empty_slot;_384=384
	plateTrinitanium;item.gregapi.gt.empty_slot;_320=320
	plateTitaniumIridium;item.gregapi.gt.empty_slot;_320=320
	plateTitaniumAluminide;item.gregapi.gt.empty_slot;_256=256
}

