# Configuration file

Autoclave {
	dustBauxite;dustSmallPotassiumHydroxide;steam;_1500=1500
	dustSmallBauxite;dustSmallPotassiumHydroxide;steam;_1500=1500
	dustTinyBauxite;dustSmallPotassiumHydroxide;steam;_1500=1500
	dustBauxite;dustPotassiumHydroxide;steam;_3000=3000
	dustSmallBauxite;dustPotassiumHydroxide;steam;_3000=3000
	dustTinyBauxite;dustPotassiumHydroxide;steam;_3000=3000
	dustBauxite;dustSmallSodiumHydroxide;steam;_1500=1500
	dustSmallBauxite;dustSmallSodiumHydroxide;steam;_1500=1500
	dustTinyBauxite;dustSmallSodiumHydroxide;steam;_1500=1500
	dustBauxite;dustSodiumHydroxide;steam;_3000=3000
	dustSmallBauxite;dustSodiumHydroxide;steam;_3000=3000
	dustTinyBauxite;dustSodiumHydroxide;steam;_3000=3000
	item.minecraft.egg;item.gregapi.gt.integrated_circuit;steam;_128=128
	item.gregtech.gt.multiitem.food;item.gregapi.gt.integrated_circuit;steam;_128=128
	null;item.gregapi.gt.integrated_circuit;steam;_1500=1500
	dustSmallGravitite;item.gregapi.gt.integrated_circuit;steam;_800=800
	dustSmallZanite;item.gregapi.gt.integrated_circuit;steam;_800=800
	dustSmallCarminite;item.gregapi.gt.integrated_circuit;steam;_800=800
	dustSmallAmber;item.gregapi.gt.integrated_circuit;steam;_800=800
	dustSmallGoldenAmber;item.gregapi.gt.integrated_circuit;steam;_800=800
	dustSmallDominicanAmber;item.gregapi.gt.integrated_circuit;steam;_800=800
	dustSmallCraponite;item.gregapi.gt.integrated_circuit;steam;_800=800
	dustSmallJade;item.gregapi.gt.integrated_circuit;steam;_800=800
	dustSmallDilithium;item.gregapi.gt.integrated_circuit;steam;_800=800
	dustSmallFirestone;item.gregapi.gt.integrated_circuit;steam;_800=800
	dustSmallRedstone;item.gregapi.gt.integrated_circuit;steam;_800=800
	dustSmallNikolite;item.gregapi.gt.integrated_circuit;steam;_800=800
	dustSmallGlowstone;item.gregapi.gt.integrated_circuit;steam;_800=800
	dustSmallGlowstoneCeres;item.gregapi.gt.integrated_circuit;steam;_800=800
	dustSmallGlowstoneIo;item.gregapi.gt.integrated_circuit;steam;_800=800
	dustSmallGlowstoneEnceladus;item.gregapi.gt.integrated_circuit;steam;_800=800
	dustSmallGlowstoneProteus;item.gregapi.gt.integrated_circuit;steam;_800=800
	dustSmallGlowstonePluto;item.gregapi.gt.integrated_circuit;steam;_800=800
	dustSmallGloomstone;item.gregapi.gt.integrated_circuit;steam;_800=800
	dustSmallEnergiumRed;item.gregapi.gt.integrated_circuit;steam;_800=800
	dustSmallEnergiumCyan;item.gregapi.gt.integrated_circuit;steam;_800=800
	dustSmallHexoriumBlack;item.gregapi.gt.integrated_circuit;steam;_800=800
	dustSmallHexoriumRed;item.gregapi.gt.integrated_circuit;steam;_800=800
	dustSmallHexoriumGreen;item.gregapi.gt.integrated_circuit;steam;_800=800
	dustSmallHexoriumBlue;item.gregapi.gt.integrated_circuit;steam;_800=800
	dustSmallHexoriumWhite;item.gregapi.gt.integrated_circuit;steam;_800=800
	dustSmallGravitite;item.gregapi.gt.integrated_circuit;steam;_12800=12800
	dustSmallZanite;item.gregapi.gt.integrated_circuit;steam;_12800=12800
	dustSmallCarminite;item.gregapi.gt.integrated_circuit;steam;_12800=12800
	dustSmallAmber;item.gregapi.gt.integrated_circuit;steam;_12800=12800
	dustSmallGoldenAmber;item.gregapi.gt.integrated_circuit;steam;_12800=12800
	dustSmallDominicanAmber;item.gregapi.gt.integrated_circuit;steam;_12800=12800
	dustSmallCraponite;item.gregapi.gt.integrated_circuit;steam;_12800=12800
	dustSmallJade;item.gregapi.gt.integrated_circuit;steam;_12800=12800
	dustSmallDilithium;item.gregapi.gt.integrated_circuit;steam;_12800=12800
	dustSmallRedstone;item.gregapi.gt.integrated_circuit;steam;_12800=12800
	dustSmallNikolite;item.gregapi.gt.integrated_circuit;steam;_12800=12800
	dustSmallGlowstone;item.gregapi.gt.integrated_circuit;steam;_12800=12800
	dustSmallGlowstoneCeres;item.gregapi.gt.integrated_circuit;steam;_12800=12800
	dustSmallGlowstoneIo;item.gregapi.gt.integrated_circuit;steam;_12800=12800
	dustSmallGlowstoneEnceladus;item.gregapi.gt.integrated_circuit;steam;_12800=12800
	dustSmallGlowstoneProteus;item.gregapi.gt.integrated_circuit;steam;_12800=12800
	dustSmallGlowstonePluto;item.gregapi.gt.integrated_circuit;steam;_12800=12800
	dustSmallGloomstone;item.gregapi.gt.integrated_circuit;steam;_12800=12800
	dustSmallEnergiumRed;item.gregapi.gt.integrated_circuit;steam;_12800=12800
	dustSmallEnergiumCyan;item.gregapi.gt.integrated_circuit;steam;_12800=12800
	dustSmallHexoriumBlack;item.gregapi.gt.integrated_circuit;steam;_12800=12800
	dustSmallHexoriumRed;item.gregapi.gt.integrated_circuit;steam;_12800=12800
	dustSmallHexoriumGreen;item.gregapi.gt.integrated_circuit;steam;_12800=12800
	dustSmallHexoriumBlue;item.gregapi.gt.integrated_circuit;steam;_12800=12800
	dustSmallHexoriumWhite;item.gregapi.gt.integrated_circuit;steam;_12800=12800
	dustGravitite;item.gregapi.gt.integrated_circuit;steam;_3200=3200
	dustZanite;item.gregapi.gt.integrated_circuit;steam;_3200=3200
	dustCarminite;item.gregapi.gt.integrated_circuit;steam;_3200=3200
	dustAmber;item.gregapi.gt.integrated_circuit;steam;_3200=3200
	dustGoldenAmber;item.gregapi.gt.integrated_circuit;steam;_3200=3200
	dustDominicanAmber;item.gregapi.gt.integrated_circuit;steam;_3200=3200
	dustCraponite;item.gregapi.gt.integrated_circuit;steam;_3200=3200
	dustJade;item.gregapi.gt.integrated_circuit;steam;_3200=3200
	dustDilithium;item.gregapi.gt.integrated_circuit;steam;_3200=3200
	dustFirestone;item.gregapi.gt.integrated_circuit;steam;_3200=3200
	dustRedstone;item.gregapi.gt.integrated_circuit;steam;_3200=3200
	dustNikolite;item.gregapi.gt.integrated_circuit;steam;_3200=3200
	dustGlowstone;item.gregapi.gt.integrated_circuit;steam;_3200=3200
	dustGlowstoneCeres;item.gregapi.gt.integrated_circuit;steam;_3200=3200
	dustGlowstoneIo;item.gregapi.gt.integrated_circuit;steam;_3200=3200
	dustGlowstoneEnceladus;item.gregapi.gt.integrated_circuit;steam;_3200=3200
	dustGlowstoneProteus;item.gregapi.gt.integrated_circuit;steam;_3200=3200
	dustGlowstonePluto;item.gregapi.gt.integrated_circuit;steam;_3200=3200
	dustGloomstone;item.gregapi.gt.integrated_circuit;steam;_3200=3200
	dustEnergiumRed;item.gregapi.gt.integrated_circuit;steam;_3200=3200
	dustEnergiumCyan;item.gregapi.gt.integrated_circuit;steam;_3200=3200
	dustHexoriumBlack;item.gregapi.gt.integrated_circuit;steam;_3200=3200
	dustHexoriumRed;item.gregapi.gt.integrated_circuit;steam;_3200=3200
	dustHexoriumGreen;item.gregapi.gt.integrated_circuit;steam;_3200=3200
	dustHexoriumBlue;item.gregapi.gt.integrated_circuit;steam;_3200=3200
	dustHexoriumWhite;item.gregapi.gt.integrated_circuit;steam;_3200=3200
	dustGravitite;item.gregapi.gt.integrated_circuit;steam;_12800=12800
	dustZanite;item.gregapi.gt.integrated_circuit;steam;_12800=12800
	dustCarminite;item.gregapi.gt.integrated_circuit;steam;_12800=12800
	dustAmber;item.gregapi.gt.integrated_circuit;steam;_12800=12800
	dustGoldenAmber;item.gregapi.gt.integrated_circuit;steam;_12800=12800
	dustDominicanAmber;item.gregapi.gt.integrated_circuit;steam;_12800=12800
	dustCraponite;item.gregapi.gt.integrated_circuit;steam;_12800=12800
	dustJade;item.gregapi.gt.integrated_circuit;steam;_12800=12800
	dustDilithium;item.gregapi.gt.integrated_circuit;steam;_12800=12800
	dustRedstone;item.gregapi.gt.integrated_circuit;steam;_12800=12800
	dustNikolite;item.gregapi.gt.integrated_circuit;steam;_12800=12800
	dustGlowstone;item.gregapi.gt.integrated_circuit;steam;_12800=12800
	dustGlowstoneCeres;item.gregapi.gt.integrated_circuit;steam;_12800=12800
	dustGlowstoneIo;item.gregapi.gt.integrated_circuit;steam;_12800=12800
	dustGlowstoneEnceladus;item.gregapi.gt.integrated_circuit;steam;_12800=12800
	dustGlowstoneProteus;item.gregapi.gt.integrated_circuit;steam;_12800=12800
	dustGlowstonePluto;item.gregapi.gt.integrated_circuit;steam;_12800=12800
	dustGloomstone;item.gregapi.gt.integrated_circuit;steam;_12800=12800
	dustEnergiumRed;item.gregapi.gt.integrated_circuit;steam;_12800=12800
	dustEnergiumCyan;item.gregapi.gt.integrated_circuit;steam;_12800=12800
	dustHexoriumBlack;item.gregapi.gt.integrated_circuit;steam;_12800=12800
	dustHexoriumRed;item.gregapi.gt.integrated_circuit;steam;_12800=12800
	dustHexoriumGreen;item.gregapi.gt.integrated_circuit;steam;_12800=12800
	dustHexoriumBlue;item.gregapi.gt.integrated_circuit;steam;_12800=12800
	dustHexoriumWhite;item.gregapi.gt.integrated_circuit;steam;_12800=12800
}

