# Configuration file

Freezer {
	item.gregapi.gt.integrated_circuit;water;_16=16
	item.gregapi.gt.integrated_circuit;water;_32=32
	item.gregapi.gt.integrated_circuit;water;_64=64
	item.gregapi.gt.integrated_circuit;water;_128=128
	item.gregapi.gt.integrated_circuit;potion.mineralwater;_16=16
	item.gregapi.gt.integrated_circuit;potion.mineralwater;_32=32
	item.gregapi.gt.integrated_circuit;potion.mineralwater;_64=64
	item.gregapi.gt.integrated_circuit;potion.mineralwater;_128=128
	item.gregapi.gt.integrated_circuit;ic2distilledwater;_16=16
	item.gregapi.gt.integrated_circuit;ic2distilledwater;_32=32
	item.gregapi.gt.integrated_circuit;ic2distilledwater;_64=64
	item.gregapi.gt.integrated_circuit;ic2distilledwater;_128=128
	item.gregapi.gt.integrated_circuit;spectral_dew;_64=64
	item.gregapi.gt.integrated_circuit;spectral_dew;_128=128
	item.gregapi.gt.integrated_circuit;spectral_dew;_256=256
	item.gregapi.gt.integrated_circuit;spectral_dew;_512=512
	block.gregtech.gt.block.log.b.fireproof;water;_16=16
	block.gregtech.gt.block.log.b.fireproof;potion.mineralwater;_16=16
	block.gregtech.gt.block.log.b.fireproof;ic2distilledwater;_16=16
	block.gregtech.gt.block.log.b.fireproof;spectral_dew;_16=16
	block.gregtech.gt.block.log.b;water;_16=16
	block.gregtech.gt.block.log.b;potion.mineralwater;_16=16
	block.gregtech.gt.block.log.b;ic2distilledwater;_16=16
	block.gregtech.gt.block.log.b;spectral_dew;_16=16
	block.gregtech.gt.block.log.a;water;_16=16
	block.gregtech.gt.block.log.a;potion.mineralwater;_16=16
	block.gregtech.gt.block.log.a;ic2distilledwater;_16=16
	block.gregtech.gt.block.log.a;spectral_dew;_16=16
	block.gregtech.gt.block.log.c.fireproof;water;_16=16
	block.gregtech.gt.block.log.c.fireproof;potion.mineralwater;_16=16
	block.gregtech.gt.block.log.c.fireproof;ic2distilledwater;_16=16
	block.gregtech.gt.block.log.c.fireproof;spectral_dew;_16=16
	block.minecraft.crimson_stem;water;_16=16
	block.minecraft.crimson_stem;potion.mineralwater;_16=16
	block.minecraft.crimson_stem;ic2distilledwater;_16=16
	block.minecraft.crimson_stem;spectral_dew;_16=16
	block.gregtech.gt.block.log.c;water;_16=16
	block.gregtech.gt.block.log.c;potion.mineralwater;_16=16
	block.gregtech.gt.block.log.c;ic2distilledwater;_16=16
	block.gregtech.gt.block.log.c;spectral_dew;_16=16
	block.minecraft.spruce_wood;water;_16=16
	block.minecraft.spruce_wood;potion.mineralwater;_16=16
	block.minecraft.spruce_wood;ic2distilledwater;_16=16
	block.minecraft.spruce_wood;spectral_dew;_16=16
	block.gregtech.gt.block.log.a.fireproof;water;_16=16
	block.gregtech.gt.block.log.a.fireproof;potion.mineralwater;_16=16
	block.gregtech.gt.block.log.a.fireproof;ic2distilledwater;_16=16
	block.gregtech.gt.block.log.a.fireproof;spectral_dew;_16=16
	block.minecraft.dark_oak_log;water;_16=16
	block.minecraft.dark_oak_log;potion.mineralwater;_16=16
	block.minecraft.dark_oak_log;ic2distilledwater;_16=16
	block.minecraft.dark_oak_log;spectral_dew;_16=16
	block.minecraft.acacia_log;water;_16=16
	block.minecraft.acacia_log;potion.mineralwater;_16=16
	block.minecraft.acacia_log;ic2distilledwater;_16=16
	block.minecraft.acacia_log;spectral_dew;_16=16
	block.minecraft.birch_wood;water;_16=16
	block.minecraft.birch_wood;potion.mineralwater;_16=16
	block.minecraft.birch_wood;ic2distilledwater;_16=16
	block.minecraft.birch_wood;spectral_dew;_16=16
	block.minecraft.jungle_log;water;_16=16
	block.minecraft.jungle_log;potion.mineralwater;_16=16
	block.minecraft.jungle_log;ic2distilledwater;_16=16
	block.minecraft.jungle_log;spectral_dew;_16=16
	block.minecraft.warped_stem;water;_16=16
	block.minecraft.warped_stem;potion.mineralwater;_16=16
	block.minecraft.warped_stem;ic2distilledwater;_16=16
	block.minecraft.warped_stem;spectral_dew;_16=16
	block.minecraft.oak_log;water;_16=16
	block.minecraft.oak_log;potion.mineralwater;_16=16
	block.minecraft.oak_log;ic2distilledwater;_16=16
	block.minecraft.oak_log;spectral_dew;_16=16
	block.minecraft.crimson_hyphae;water;_16=16
	block.minecraft.crimson_hyphae;potion.mineralwater;_16=16
	block.minecraft.crimson_hyphae;ic2distilledwater;_16=16
	block.minecraft.crimson_hyphae;spectral_dew;_16=16
	block.minecraft.jungle_wood;water;_16=16
	block.minecraft.jungle_wood;potion.mineralwater;_16=16
	block.minecraft.jungle_wood;ic2distilledwater;_16=16
	block.minecraft.jungle_wood;spectral_dew;_16=16
	block.minecraft.oak_wood;water;_16=16
	block.minecraft.oak_wood;potion.mineralwater;_16=16
	block.minecraft.oak_wood;ic2distilledwater;_16=16
	block.minecraft.oak_wood;spectral_dew;_16=16
	block.minecraft.spruce_log;water;_16=16
	block.minecraft.spruce_log;potion.mineralwater;_16=16
	block.minecraft.spruce_log;ic2distilledwater;_16=16
	block.minecraft.spruce_log;spectral_dew;_16=16
	block.minecraft.dark_oak_wood;water;_16=16
	block.minecraft.dark_oak_wood;potion.mineralwater;_16=16
	block.minecraft.dark_oak_wood;ic2distilledwater;_16=16
	block.minecraft.dark_oak_wood;spectral_dew;_16=16
	block.minecraft.birch_log;water;_16=16
	block.minecraft.birch_log;potion.mineralwater;_16=16
	block.minecraft.birch_log;ic2distilledwater;_16=16
	block.minecraft.birch_log;spectral_dew;_16=16
	block.minecraft.warped_hyphae;water;_16=16
	block.minecraft.warped_hyphae;potion.mineralwater;_16=16
	block.minecraft.warped_hyphae;ic2distilledwater;_16=16
	block.minecraft.warped_hyphae;spectral_dew;_16=16
	block.minecraft.acacia_wood;water;_16=16
	block.minecraft.acacia_wood;potion.mineralwater;_16=16
	block.minecraft.acacia_wood;ic2distilledwater;_16=16
	block.minecraft.acacia_wood;spectral_dew;_16=16
	item.gregapi.gt.integrated_circuit;mercury;_512=512
	item.gregapi.gt.integrated_circuit;oxygen;_256=256
	ingotQuintupleCastIron;_720=720
	ingotQuadrupleCastIron;_576=576
	ingotTripleCastIron;_432=432
	ingotDoubleCastIron;_288=288
	ingotHotCastIron;_144=144
	ingotCastIron;_144=144
	billetCastIron;_96=96
	chunkGtCastIron;_36=36
	nuggetCastIron;_16=16
	scrapGtCastIron;_16=16
	plateDenseCastIron;_1296=1296
	plateQuintupleCastIron;_720=720
	plateQuadrupleCastIron;_576=576
	plateTripleCastIron;_432=432
	plateDoubleCastIron;_288=288
	plateCastIron;_144=144
	plateTinyCastIron;_16=16
	plateCurvedCastIron;_144=144
	foilCastIron;_36=36
	stickCastIron;_72=72
	stickLongCastIron;_144=144
	boltCastIron;_18=18
	screwCastIron;_16=16
	roundCastIron;_16=16
	ringCastIron;_36=36
	chainCastIron;_144=144
	springCastIron;_144=144
	springSmallCastIron;_36=36
	wireFineCastIron;_18=18
	minecartWheelsCastIron;_144=144
	gearGtCastIron;_576=576
	gearGtSmallCastIron;_144=144
	casingSmallCastIron;_72=72
	casingMachineCastIron;_1152=1152
	casingMachineDoubleCastIron;_2016=2016
	casingMachineQuadrupleCastIron;_3744=3744
	casingMachineDenseCastIron;_8064=8064
	rotorCastIron;_612=612
	toolHeadSawCastIron;_272=272
	toolHeadFileCastIron;_216=216
	toolHeadChiselCastIron;_200=200
	toolHeadBuzzSawCastIron;_576=576
	toolHeadChainsawCastIron;_288=288
	toolHeadWrenchCastIron;_576=576
	toolHeadDrillCastIron;_576=576
	toolHeadSwordCastIron;_272=272
	toolHeadPickaxeCastIron;_416=416
	toolHeadShovelCastIron;_128=128
	toolHeadSpadeCastIron;_128=128
	toolHeadAxeCastIron;_416=416
	toolHeadHoeCastIron;_272=272
	toolHeadSenseCastIron;_416=416
	toolHeadPlowCastIron;_560=560
	toolHeadHammerCastIron;_864=864
	toolHeadScrewdriverCastIron;_144=144
	toolHeadBuilderwandCastIron;_144=144
	toolHeadConstructionPickaxeCastIron;_416=416
	toolHeadAxeDoubleCastIron;_688=688
	toolHeadUniversalSpadeCastIron;_112=112
	toolHeadArrowCastIron;_16=16
	toolHeadRawSawCastIron;_288=288
	toolHeadRawChiselCastIron;_216=216
	toolHeadRawSwordCastIron;_288=288
	toolHeadRawPickaxeCastIron;_432=432
	toolHeadRawShovelCastIron;_144=144
	toolHeadRawSpadeCastIron;_144=144
	toolHeadRawUniversalSpadeCastIron;_128=128
	toolHeadRawAxeCastIron;_432=432
	toolHeadRawAxeDoubleCastIron;_720=720
	toolHeadRawHoeCastIron;_288=288
	toolHeadRawSenseCastIron;_432=432
	toolHeadRawPlowCastIron;_576=576
	toolHeadRawArrowCastIron;_18=18
	bulletGtSmallCastIron;_16=16
	bulletGtMediumCastIron;_32=32
	bulletGtLargeCastIron;_48=48
	arrowGtWoodCastIron;_16=16
	arrowGtPlasticCastIron;_16=16
	blockIngotCastIron;_1296=1296
	blockPlateCastIron;_1296=1296
	blockSolidCastIron;_1296=1296
	scrapGtEnori;_16=16
	stickEnori;_72=72
	stickLongEnori;_144=144
	boltEnori;_18=18
	screwEnori;_16=16
	roundEnori;_16=16
	ringEnori;_36=36
	chainEnori;_144=144
	gearGtEnori;_576=576
	gearGtSmallEnori;_144=144
	casingSmallEnori;_72=72
	rotorEnori;_612=612
	toolHeadSawEnori;_272=272
	toolHeadFileEnori;_216=216
	toolHeadChiselEnori;_200=200
	toolHeadBuzzSawEnori;_576=576
	toolHeadChainsawEnori;_288=288
	toolHeadWrenchEnori;_576=576
	toolHeadDrillEnori;_576=576
	toolHeadSwordEnori;_272=272
	toolHeadPickaxeEnori;_416=416
	toolHeadShovelEnori;_128=128
	toolHeadSpadeEnori;_128=128
	toolHeadAxeEnori;_416=416
	toolHeadHoeEnori;_272=272
	toolHeadSenseEnori;_416=416
	toolHeadPlowEnori;_560=560
	toolHeadHammerEnori;_864=864
	toolHeadScrewdriverEnori;_144=144
	toolHeadBuilderwandEnori;_144=144
	toolHeadConstructionPickaxeEnori;_416=416
	toolHeadAxeDoubleEnori;_688=688
	toolHeadUniversalSpadeEnori;_112=112
	toolHeadArrowEnori;_16=16
	toolHeadRawSawEnori;_288=288
	toolHeadRawChiselEnori;_216=216
	toolHeadRawSwordEnori;_288=288
	toolHeadRawPickaxeEnori;_432=432
	toolHeadRawShovelEnori;_144=144
	toolHeadRawSpadeEnori;_144=144
	toolHeadRawUniversalSpadeEnori;_128=128
	toolHeadRawAxeEnori;_432=432
	toolHeadRawAxeDoubleEnori;_720=720
	toolHeadRawHoeEnori;_288=288
	toolHeadRawSenseEnori;_432=432
	toolHeadRawPlowEnori;_576=576
	toolHeadRawArrowEnori;_18=18
	bulletGtSmallEnori;_16=16
	bulletGtMediumEnori;_32=32
	bulletGtLargeEnori;_48=48
	arrowGtWoodEnori;_16=16
	arrowGtPlasticEnori;_16=16
	ingotQuintupleMeteoricIron;_720=720
	ingotQuadrupleMeteoricIron;_576=576
	ingotTripleMeteoricIron;_432=432
	ingotDoubleMeteoricIron;_288=288
	ingotHotMeteoricIron;_144=144
	ingotMeteoricIron;_144=144
	billetMeteoricIron;_96=96
	chunkGtMeteoricIron;_36=36
	nuggetMeteoricIron;_16=16
	scrapGtMeteoricIron;_16=16
	plateDenseMeteoricIron;_1296=1296
	plateQuintupleMeteoricIron;_720=720
	plateQuadrupleMeteoricIron;_576=576
	plateTripleMeteoricIron;_432=432
	plateDoubleMeteoricIron;_288=288
	plateMeteoricIron;_144=144
	plateTinyMeteoricIron;_16=16
	plateCurvedMeteoricIron;_144=144
	foilMeteoricIron;_36=36
	stickMeteoricIron;_72=72
	stickLongMeteoricIron;_144=144
	boltMeteoricIron;_18=18
	screwMeteoricIron;_16=16
	roundMeteoricIron;_16=16
	ringMeteoricIron;_36=36
	chainMeteoricIron;_144=144
	springMeteoricIron;_144=144
	springSmallMeteoricIron;_36=36
	wireFineMeteoricIron;_18=18
	minecartWheelsMeteoricIron;_144=144
	gearGtMeteoricIron;_576=576
	gearGtSmallMeteoricIron;_144=144
	casingSmallMeteoricIron;_72=72
	casingMachineMeteoricIron;_1152=1152
	casingMachineDoubleMeteoricIron;_2016=2016
	casingMachineQuadrupleMeteoricIron;_3744=3744
	casingMachineDenseMeteoricIron;_8064=8064
	rotorMeteoricIron;_612=612
	toolHeadSawMeteoricIron;_272=272
	toolHeadFileMeteoricIron;_216=216
	toolHeadChiselMeteoricIron;_200=200
	toolHeadBuzzSawMeteoricIron;_576=576
	toolHeadChainsawMeteoricIron;_288=288
	toolHeadWrenchMeteoricIron;_576=576
	toolHeadDrillMeteoricIron;_576=576
	toolHeadSwordMeteoricIron;_272=272
	toolHeadPickaxeMeteoricIron;_416=416
	toolHeadShovelMeteoricIron;_128=128
	toolHeadSpadeMeteoricIron;_128=128
	toolHeadAxeMeteoricIron;_416=416
	toolHeadHoeMeteoricIron;_272=272
	toolHeadSenseMeteoricIron;_416=416
	toolHeadPlowMeteoricIron;_560=560
	toolHeadHammerMeteoricIron;_864=864
	toolHeadScrewdriverMeteoricIron;_144=144
	toolHeadBuilderwandMeteoricIron;_144=144
	toolHeadConstructionPickaxeMeteoricIron;_416=416
	toolHeadAxeDoubleMeteoricIron;_688=688
	toolHeadUniversalSpadeMeteoricIron;_112=112
	toolHeadArrowMeteoricIron;_16=16
	toolHeadRawSawMeteoricIron;_288=288
	toolHeadRawChiselMeteoricIron;_216=216
	toolHeadRawSwordMeteoricIron;_288=288
	toolHeadRawPickaxeMeteoricIron;_432=432
	toolHeadRawShovelMeteoricIron;_144=144
	toolHeadRawSpadeMeteoricIron;_144=144
	toolHeadRawUniversalSpadeMeteoricIron;_128=128
	toolHeadRawAxeMeteoricIron;_432=432
	toolHeadRawAxeDoubleMeteoricIron;_720=720
	toolHeadRawHoeMeteoricIron;_288=288
	toolHeadRawSenseMeteoricIron;_432=432
	toolHeadRawPlowMeteoricIron;_576=576
	toolHeadRawArrowMeteoricIron;_18=18
	bulletGtSmallMeteoricIron;_16=16
	bulletGtMediumMeteoricIron;_32=32
	bulletGtLargeMeteoricIron;_48=48
	arrowGtWoodMeteoricIron;_16=16
	arrowGtPlasticMeteoricIron;_16=16
	blockIngotMeteoricIron;_1296=1296
	blockPlateMeteoricIron;_1296=1296
	blockSolidMeteoricIron;_1296=1296
	ingotQuintupleMeteorite;_720=720
	ingotQuadrupleMeteorite;_576=576
	ingotTripleMeteorite;_432=432
	ingotDoubleMeteorite;_288=288
	ingotHotMeteorite;_144=144
	ingotMeteorite;_144=144
	billetMeteorite;_96=96
	chunkGtMeteorite;_36=36
	nuggetMeteorite;_16=16
	scrapGtMeteorite;_16=16
	plateDenseMeteorite;_1296=1296
	plateQuintupleMeteorite;_720=720
	plateQuadrupleMeteorite;_576=576
	plateTripleMeteorite;_432=432
	plateDoubleMeteorite;_288=288
	plateMeteorite;_144=144
	plateTinyMeteorite;_16=16
	plateCurvedMeteorite;_144=144
	foilMeteorite;_36=36
	stickMeteorite;_72=72
	stickLongMeteorite;_144=144
	boltMeteorite;_18=18
	screwMeteorite;_16=16
	roundMeteorite;_16=16
	ringMeteorite;_36=36
	chainMeteorite;_144=144
	springMeteorite;_144=144
	springSmallMeteorite;_36=36
	wireFineMeteorite;_18=18
	minecartWheelsMeteorite;_144=144
	gearGtMeteorite;_576=576
	gearGtSmallMeteorite;_144=144
	casingSmallMeteorite;_72=72
	casingMachineMeteorite;_1152=1152
	casingMachineDoubleMeteorite;_2016=2016
	casingMachineQuadrupleMeteorite;_3744=3744
	casingMachineDenseMeteorite;_8064=8064
	rotorMeteorite;_612=612
	toolHeadSawMeteorite;_272=272
	toolHeadFileMeteorite;_216=216
	toolHeadChiselMeteorite;_200=200
	toolHeadBuzzSawMeteorite;_576=576
	toolHeadChainsawMeteorite;_288=288
	toolHeadWrenchMeteorite;_576=576
	toolHeadDrillMeteorite;_576=576
	toolHeadSwordMeteorite;_272=272
	toolHeadPickaxeMeteorite;_416=416
	toolHeadShovelMeteorite;_128=128
	toolHeadSpadeMeteorite;_128=128
	toolHeadAxeMeteorite;_416=416
	toolHeadHoeMeteorite;_272=272
	toolHeadSenseMeteorite;_416=416
	toolHeadPlowMeteorite;_560=560
	toolHeadHammerMeteorite;_864=864
	toolHeadScrewdriverMeteorite;_144=144
	toolHeadBuilderwandMeteorite;_144=144
	toolHeadConstructionPickaxeMeteorite;_416=416
	toolHeadAxeDoubleMeteorite;_688=688
	toolHeadUniversalSpadeMeteorite;_112=112
	toolHeadArrowMeteorite;_16=16
	toolHeadRawSawMeteorite;_288=288
	toolHeadRawChiselMeteorite;_216=216
	toolHeadRawSwordMeteorite;_288=288
	toolHeadRawPickaxeMeteorite;_432=432
	toolHeadRawShovelMeteorite;_144=144
	toolHeadRawSpadeMeteorite;_144=144
	toolHeadRawUniversalSpadeMeteorite;_128=128
	toolHeadRawAxeMeteorite;_432=432
	toolHeadRawAxeDoubleMeteorite;_720=720
	toolHeadRawHoeMeteorite;_288=288
	toolHeadRawSenseMeteorite;_432=432
	toolHeadRawPlowMeteorite;_576=576
	toolHeadRawArrowMeteorite;_18=18
	bulletGtSmallMeteorite;_16=16
	bulletGtMediumMeteorite;_32=32
	bulletGtLargeMeteorite;_48=48
	arrowGtWoodMeteorite;_16=16
	arrowGtPlasticMeteorite;_16=16
	blockIngotMeteorite;_1296=1296
	blockPlateMeteorite;_1296=1296
	blockSolidMeteorite;_1296=1296
}

