# Configuration file

Mortar {
	item.minecraft.clay_ball;_16=16
	item.gregtech.gt.multiitem.food;_16=16
	block.minecraft.clay;_64=64
	block.gregtech.gt.block.diggable;_64=64
	item.gregtech.gt.multiitem.bumblebee;_16=16
	item.gregtech.gt.multiitem.randomtools;_16=16
	item.gregtech.gt.multiitem.books;_16=16
	item.minecraft.book;_16=16
	item.minecraft.writable_book;_16=16
	item.minecraft.written_book;_16=16
	item.minecraft.bone;_16=16
	block.minecraft.enchanting_table;_16=16
	item.minecraft.map;_16=16
	block.minecraft.skeleton_skull;_16=16
	item.minecraft.filled_map;_16=16
	block.minecraft.wither_skeleton_skull;_16=16
	block.minecraft.bookshelf;_16=16
	item.minecraft.enchanted_book;_16=16
	block.gregtech.gt.block.flower.a;_16=16
	block.gregtech.gt.block.flower.b;_16=16
	block.gregtech.gt.block.lilypad.glowtus;_16=16
	block.minecraft.glass;_32=32
	block.minecraft.white_stained_glass;_32=32
	block.minecraft.glass_pane;_32=32
	block.minecraft.white_stained_glass_pane;_32=32
	item.minecraft.flint;_16=16
	block.minecraft.gravel;_32=32
	gemCoal;_16=16
	gemCharcoal;_16=16
	item.minecraft.rotten_flesh;_16=16
	stickBasalz;_32=32
	stickLongBasalz;_64=64
	stickBlitz;_32=32
	stickLongBlitz;_64=64
	stickBlizz;_32=32
	stickLongBlizz;_64=64
	stickBlaze;_32=32
	stickLongBlaze;_64=64
	stickBreeze;_32=32
	stickLongBreeze;_64=64
	item.minecraft.apple;_16=16
	item.minecraft.sweet_berries;_16=16
	block.minecraft.pumpkin;_16=16
	item.minecraft.melon_slice;_16=16
	item.gregtech.gt.multiitem.food;_64=64
	plantGtBlossomTea;_16=16
	item.minecraft.carrot;_16=16
	item.minecraft.glow_berries;_16=16
	item.minecraft.cocoa_beans;_16=16
	item.minecraft.wheat;_64=64
	item.minecraft.potato;_16=16
	block.minecraft.oak_leaves;_16=16
	block.minecraft.spruce_leaves;_16=16
	block.minecraft.birch_leaves;_16=16
	block.minecraft.jungle_leaves;_16=16
	block.minecraft.acacia_leaves;_16=16
	block.minecraft.dark_oak_leaves;_16=16
	block.gregtech.gt.block.leaves;_16=16
	block.gregtech.gt.block.leaves.cd;_16=16
	block.minecraft.oak_sapling;_16=16
	block.minecraft.spruce_sapling;_16=16
	block.minecraft.birch_sapling;_16=16
	block.minecraft.jungle_sapling;_16=16
	block.minecraft.acacia_sapling;_16=16
	block.minecraft.dark_oak_sapling;_16=16
	block.gregtech.gt.block.sapling;_16=16
	block.gregtech.gt.block.sapling.cd;_16=16
	item.minecraft.beef;_16=16
	item.minecraft.salmon;_16=16
	item.minecraft.pufferfish;_16=16
	item.minecraft.chicken;_16=16
	ingotCheese;_16=16
	item.minecraft.porkchop;_16=16
	item.minecraft.cod;_16=16
	item.minecraft.tropical_fish;_16=16
	block.ae2.sky_stone_block;_288=288
	block.ae2.sky_stone_chest;_2304=2304
	gemGreenMiddle;_16=16
	gemAquaMiddle;_16=16
	gemAzurite;_16=16
	gemEudialyte;_16=16
	gemLazurite;_16=16
	gemSodalite;_16=16
	gemLapis;_16=16
	gemCoalCoke;_16=16
	gemAnthracite;_16=16
	gemPrismane;_16=16
	gemLonsdaleite;_16=16
	gemLignite;_16=16
	gemLigniteCoke;_16=16
	gemPetroleumCoke;_16=16
	gemRedstone;_16=16
	gemNikolite;_16=16
	gemGlowstone;_16=16
	gemGlowstoneCeres;_16=16
	gemGlowstoneIo;_16=16
	gemGlowstoneEnceladus;_16=16
	gemGlowstoneProteus;_16=16
	gemGlowstonePluto;_16=16
	gemGloomstone;_16=16
	gemMilkyQuartz;_64=64
	gemNetherQuartz;_64=64
	gemVoidQuartz;_64=64
	gemSunnyQuartz;_64=64
	gemLavenderQuartz;_64=64
	gemRedQuartz;_64=64
	gemBlazeQuartz;_64=64
	gemSmokeyQuartz;_64=64
	gemManaQuartz;_64=64
	gemElvenQuartz;_64=64
	gemQuartzBlack;_64=64
	gemCertusQuartz;_64=64
	gemIce;_16=16
	gemFluix;_16=16
	gemSugar;_16=16
	gemHexoriumBlack;_48=48
	gemHexoriumRed;_48=48
	gemHexoriumGreen;_48=48
	gemPhosphor;_16=16
	gemHexoriumBlue;_48=48
	gemSulfur;_16=16
	gemHexoriumWhite;_48=48
	gemGlass;_16=16
	gemPrismarine;_32=32
	gemPrismarineDark;_32=32
	gemFluorite;_16=16
	gemRedFluorite;_16=16
	gemPinkFluorite;_16=16
	gemBlueFluorite;_16=16
	gemGreenFluorite;_16=16
	gemBlackFluorite;_16=16
	gemWhiteFluorite;_16=16
	gemYellowFluorite;_16=16
	gemOrangeFluorite;_16=16
	gemMagentaFluorite;_16=16
	gemSalt;_16=16
	gemIodineSalt;_16=16
	gemSylvite;_16=16
	gemPyrite;_16=16
	gemNiter;_16=16
	gemPhosphorus;_16=16
	gemBluePhosphorus;_16=16
	gemRedPhosphorus;_16=16
	gemWhitePhosphorus;_16=16
	gemApatite;_16=16
	gemPhosphorite;_16=16
	gemSlimyBone;_32=32
	gemQuartzite;_32=32
	gemRealgar;_16=16
	gemCinnabar;_16=16
	gemMolybdenite;_16=16
	gemSphalerite;_16=16
	gemStibnite;_16=16
	gemPentlandite;_16=16
	gemChalcopyrite;_16=16
	gemArsenopyrite;_16=16
	gemCobaltite;_16=16
	gemGalena;_16=16
	gemCooperite;_16=16
	gemTetrahedrite;_16=16
	gemKesterite;_16=16
	gemStannite;_16=16
	gemBarite;_16=16
	gemCelestine;_16=16
	gemMalachite;_16=16
	gemVinteum;_64=64
	gemVinteumPurified;_64=64
	gemCrimsonMiddle;_16=16
	ingotCharcoal;_16=16
	ingotCoal;_16=16
	ingotCoalCoke;_16=16
	ingotAnthracite;_16=16
	ingotPrismane;_16=16
	ingotLonsdaleite;_16=16
	ingotLignite;_16=16
	ingotLigniteCoke;_16=16
	ingotPetroleumCoke;_16=16
	ingotPeat;_16=16
	ingotPeatBituminous;_16=16
	ingotNetherBrick;_32=32
	ingotGallium;_16=16
	ingotSolderingAlloy;_16=16
	ingotIronwood;_48=48
	ingotSteeleaf;_64=64
	ingotFluorite;_16=16
	ingotWax;_16=16
	ingotWaxBee;_16=16
	ingotWaxRefractory;_16=16
	ingotWaxParaffin;_16=16
	ingotWaxPlant;_16=16
	ingotWaxMagic;_16=16
	ingotWaxAmnesic;_16=16
	ingotWaxSoulful;_16=16
	ingotClayBrick;_16=16
	ingotPlastic;_32=32
	ingotTeflon;_32=32
	ingotPVC;_32=32
	ingotBakelite;_32=32
	ingotHardPlastic;_32=32
	ingotMeatCooked;_16=16
	ingotMeatRaw;_16=16
	ingotMeatRotten;_16=16
	ingotFishCooked;_16=16
	ingotFishRaw;_16=16
	ingotFishRotten;_16=16
	ingotTofu;_16=16
	ingotSoylentGreen;_16=16
	ingotChocolate;_16=16
}

