# Configuration file

Polarizer {
	ingotQuintupleNeodymium;_720=720
	ingotQuadrupleNeodymium;_576=576
	ingotTripleNeodymium;_432=432
	ingotDoubleNeodymium;_288=288
	ingotHotNeodymium;_144=144
	ingotNeodymium;_144=144
	billetNeodymium;_96=96
	chunkGtNeodymium;_36=36
	nuggetNeodymium;_16=16
	scrapGtNeodymium;_16=16
	plateDenseNeodymium;_1296=1296
	plateQuintupleNeodymium;_720=720
	plateQuadrupleNeodymium;_576=576
	plateTripleNeodymium;_432=432
	plateDoubleNeodymium;_288=288
	plateNeodymium;_144=144
	plateTinyNeodymium;_16=16
	plateCurvedNeodymium;_144=144
	foilNeodymium;_36=36
	stickNeodymium;_72=72
	stickLongNeodymium;_144=144
	boltNeodymium;_18=18
	screwNeodymium;_16=16
	roundNeodymium;_16=16
	ringNeodymium;_36=36
	chainNeodymium;_144=144
	springNeodymium;_144=144
	springSmallNeodymium;_36=36
	wireFineNeodymium;_18=18
	minecartWheelsNeodymium;_144=144
	gearGtNeodymium;_576=576
	gearGtSmallNeodymium;_144=144
	casingSmallNeodymium;_72=72
	casingMachineNeodymium;_1152=1152
	casingMachineDoubleNeodymium;_2016=2016
	casingMachineQuadrupleNeodymium;_3744=3744
	casingMachineDenseNeodymium;_8064=8064
	rotorNeodymium;_612=612
	toolHeadSawNeodymium;_272=272
	toolHeadFileNeodymium;_216=216
	toolHeadChiselNeodymium;_200=200
	toolHeadBuzzSawNeodymium;_576=576
	toolHeadChainsawNeodymium;_288=288
	toolHeadWrenchNeodymium;_576=576
	toolHeadDrillNeodymium;_576=576
	toolHeadSwordNeodymium;_272=272
	toolHeadPickaxeNeodymium;_416=416
	toolHeadShovelNeodymium;_128=128
	toolHeadSpadeNeodymium;_128=128
	toolHeadAxeNeodymium;_416=416
	toolHeadHoeNeodymium;_272=272
	toolHeadSenseNeodymium;_416=416
	toolHeadPlowNeodymium;_560=560
	toolHeadHammerNeodymium;_864=864
	toolHeadScrewdriverNeodymium;_144=144
	toolHeadBuilderwandNeodymium;_144=144
	toolHeadConstructionPickaxeNeodymium;_416=416
	toolHeadAxeDoubleNeodymium;_688=688
	toolHeadUniversalSpadeNeodymium;_112=112
	toolHeadArrowNeodymium;_16=16
	toolHeadRawSawNeodymium;_288=288
	toolHeadRawChiselNeodymium;_216=216
	toolHeadRawSwordNeodymium;_288=288
	toolHeadRawPickaxeNeodymium;_432=432
	toolHeadRawShovelNeodymium;_144=144
	toolHeadRawSpadeNeodymium;_144=144
	toolHeadRawUniversalSpadeNeodymium;_128=128
	toolHeadRawAxeNeodymium;_432=432
	toolHeadRawAxeDoubleNeodymium;_720=720
	toolHeadRawHoeNeodymium;_288=288
	toolHeadRawSenseNeodymium;_432=432
	toolHeadRawPlowNeodymium;_576=576
	toolHeadRawArrowNeodymium;_18=18
	bulletGtSmallNeodymium;_16=16
	bulletGtMediumNeodymium;_32=32
	bulletGtLargeNeodymium;_48=48
	arrowGtWoodNeodymium;_16=16
	arrowGtPlasticNeodymium;_16=16
	blockIngotNeodymium;_1296=1296
	blockPlateNeodymium;_1296=1296
	blockSolidNeodymium;_1296=1296
	ingotQuintupleIron;_720=720
	ingotQuadrupleIron;_576=576
	ingotTripleIron;_432=432
	ingotDoubleIron;_288=288
	ingotHotIron;_144=144
	ingotIron;_144=144
	billetIron;_96=96
	chunkGtIron;_36=36
	nuggetIron;_16=16
	scrapGtIron;_16=16
	plateDenseIron;_1296=1296
	plateQuintupleIron;_720=720
	plateQuadrupleIron;_576=576
	plateTripleIron;_432=432
	plateDoubleIron;_288=288
	plateIron;_144=144
	plateTinyIron;_16=16
	plateCurvedIron;_144=144
	foilIron;_36=36
	stickIron;_72=72
	stickLongIron;_144=144
	boltIron;_18=18
	screwIron;_16=16
	roundIron;_16=16
	ringIron;_36=36
	chainIron;_144=144
	springIron;_144=144
	springSmallIron;_36=36
	wireFineIron;_18=18
	minecartWheelsIron;_144=144
	gearGtIron;_576=576
	gearGtSmallIron;_144=144
	casingSmallIron;_72=72
	casingMachineIron;_1152=1152
	casingMachineDoubleIron;_2016=2016
	casingMachineQuadrupleIron;_3744=3744
	casingMachineDenseIron;_8064=8064
	rotorIron;_612=612
	toolHeadSawIron;_272=272
	toolHeadFileIron;_216=216
	toolHeadChiselIron;_200=200
	toolHeadBuzzSawIron;_576=576
	toolHeadChainsawIron;_288=288
	toolHeadWrenchIron;_576=576
	toolHeadDrillIron;_576=576
	toolHeadSwordIron;_272=272
	toolHeadPickaxeIron;_416=416
	toolHeadShovelIron;_128=128
	toolHeadSpadeIron;_128=128
	toolHeadAxeIron;_416=416
	toolHeadHoeIron;_272=272
	toolHeadSenseIron;_416=416
	toolHeadPlowIron;_560=560
	toolHeadHammerIron;_864=864
	toolHeadScrewdriverIron;_144=144
	toolHeadBuilderwandIron;_144=144
	toolHeadConstructionPickaxeIron;_416=416
	toolHeadAxeDoubleIron;_688=688
	toolHeadUniversalSpadeIron;_112=112
	toolHeadArrowIron;_16=16
	toolHeadRawSawIron;_288=288
	toolHeadRawChiselIron;_216=216
	toolHeadRawSwordIron;_288=288
	toolHeadRawPickaxeIron;_432=432
	toolHeadRawShovelIron;_144=144
	toolHeadRawSpadeIron;_144=144
	toolHeadRawUniversalSpadeIron;_128=128
	toolHeadRawAxeIron;_432=432
	toolHeadRawAxeDoubleIron;_720=720
	toolHeadRawHoeIron;_288=288
	toolHeadRawSenseIron;_432=432
	toolHeadRawPlowIron;_576=576
	toolHeadRawArrowIron;_18=18
	bulletGtSmallIron;_16=16
	bulletGtMediumIron;_32=32
	bulletGtLargeIron;_48=48
	arrowGtWoodIron;_16=16
	arrowGtPlasticIron;_16=16
	blockIngotIron;_1296=1296
	blockPlateIron;_1296=1296
	blockSolidIron;_1296=1296
	ingotQuintupleWroughtIron;_720=720
	ingotQuadrupleWroughtIron;_576=576
	ingotTripleWroughtIron;_432=432
	ingotDoubleWroughtIron;_288=288
	ingotHotWroughtIron;_144=144
	ingotWroughtIron;_144=144
	billetWroughtIron;_96=96
	chunkGtWroughtIron;_36=36
	nuggetWroughtIron;_16=16
	scrapGtWroughtIron;_16=16
	plateDenseWroughtIron;_1296=1296
	plateQuintupleWroughtIron;_720=720
	plateQuadrupleWroughtIron;_576=576
	plateTripleWroughtIron;_432=432
	plateDoubleWroughtIron;_288=288
	plateWroughtIron;_144=144
	plateTinyWroughtIron;_16=16
	plateCurvedWroughtIron;_144=144
	foilWroughtIron;_36=36
	stickWroughtIron;_72=72
	stickLongWroughtIron;_144=144
	boltWroughtIron;_18=18
	screwWroughtIron;_16=16
	roundWroughtIron;_16=16
	ringWroughtIron;_36=36
	chainWroughtIron;_144=144
	springWroughtIron;_144=144
	springSmallWroughtIron;_36=36
	wireFineWroughtIron;_18=18
	minecartWheelsWroughtIron;_144=144
	gearGtWroughtIron;_576=576
	gearGtSmallWroughtIron;_144=144
	casingSmallWroughtIron;_72=72
	casingMachineWroughtIron;_1152=1152
	casingMachineDoubleWroughtIron;_2016=2016
	casingMachineQuadrupleWroughtIron;_3744=3744
	casingMachineDenseWroughtIron;_8064=8064
	rotorWroughtIron;_612=612
	toolHeadSawWroughtIron;_272=272
	toolHeadFileWroughtIron;_216=216
	toolHeadChiselWroughtIron;_200=200
	toolHeadBuzzSawWroughtIron;_576=576
	toolHeadChainsawWroughtIron;_288=288
	toolHeadWrenchWroughtIron;_576=576
	toolHeadDrillWroughtIron;_576=576
	toolHeadSwordWroughtIron;_272=272
	toolHeadPickaxeWroughtIron;_416=416
	toolHeadShovelWroughtIron;_128=128
	toolHeadSpadeWroughtIron;_128=128
	toolHeadAxeWroughtIron;_416=416
	toolHeadHoeWroughtIron;_272=272
	toolHeadSenseWroughtIron;_416=416
	toolHeadPlowWroughtIron;_560=560
	toolHeadHammerWroughtIron;_864=864
	toolHeadScrewdriverWroughtIron;_144=144
	toolHeadBuilderwandWroughtIron;_144=144
	toolHeadConstructionPickaxeWroughtIron;_416=416
	toolHeadAxeDoubleWroughtIron;_688=688
	toolHeadUniversalSpadeWroughtIron;_112=112
	toolHeadArrowWroughtIron;_16=16
	toolHeadRawSawWroughtIron;_288=288
	toolHeadRawChiselWroughtIron;_216=216
	toolHeadRawSwordWroughtIron;_288=288
	toolHeadRawPickaxeWroughtIron;_432=432
	toolHeadRawShovelWroughtIron;_144=144
	toolHeadRawSpadeWroughtIron;_144=144
	toolHeadRawUniversalSpadeWroughtIron;_128=128
	toolHeadRawAxeWroughtIron;_432=432
	toolHeadRawAxeDoubleWroughtIron;_720=720
	toolHeadRawHoeWroughtIron;_288=288
	toolHeadRawSenseWroughtIron;_432=432
	toolHeadRawPlowWroughtIron;_576=576
	toolHeadRawArrowWroughtIron;_18=18
	bulletGtSmallWroughtIron;_16=16
	bulletGtMediumWroughtIron;_32=32
	bulletGtLargeWroughtIron;_48=48
	arrowGtWoodWroughtIron;_16=16
	arrowGtPlasticWroughtIron;_16=16
	blockIngotWroughtIron;_1296=1296
	blockPlateWroughtIron;_1296=1296
	blockSolidWroughtIron;_1296=1296
	ingotQuintuplePigIron;_720=720
	ingotQuadruplePigIron;_576=576
	ingotTriplePigIron;_432=432
	ingotDoublePigIron;_288=288
	ingotHotPigIron;_144=144
	ingotPigIron;_144=144
	billetPigIron;_96=96
	chunkGtPigIron;_36=36
	nuggetPigIron;_16=16
	scrapGtPigIron;_16=16
	plateDensePigIron;_1296=1296
	plateQuintuplePigIron;_720=720
	plateQuadruplePigIron;_576=576
	plateTriplePigIron;_432=432
	plateDoublePigIron;_288=288
	platePigIron;_144=144
	plateTinyPigIron;_16=16
	plateCurvedPigIron;_144=144
	foilPigIron;_36=36
	stickPigIron;_72=72
	stickLongPigIron;_144=144
	boltPigIron;_18=18
	screwPigIron;_16=16
	roundPigIron;_16=16
	ringPigIron;_36=36
	chainPigIron;_144=144
	springPigIron;_144=144
	springSmallPigIron;_36=36
	wireFinePigIron;_18=18
	minecartWheelsPigIron;_144=144
	gearGtPigIron;_576=576
	gearGtSmallPigIron;_144=144
	casingSmallPigIron;_72=72
	casingMachinePigIron;_1152=1152
	casingMachineDoublePigIron;_2016=2016
	casingMachineQuadruplePigIron;_3744=3744
	casingMachineDensePigIron;_8064=8064
	rotorPigIron;_612=612
	toolHeadSawPigIron;_272=272
	toolHeadFilePigIron;_216=216
	toolHeadChiselPigIron;_200=200
	toolHeadBuzzSawPigIron;_576=576
	toolHeadChainsawPigIron;_288=288
	toolHeadWrenchPigIron;_576=576
	toolHeadDrillPigIron;_576=576
	toolHeadSwordPigIron;_272=272
	toolHeadPickaxePigIron;_416=416
	toolHeadShovelPigIron;_128=128
	toolHeadSpadePigIron;_128=128
	toolHeadAxePigIron;_416=416
	toolHeadHoePigIron;_272=272
	toolHeadSensePigIron;_416=416
	toolHeadPlowPigIron;_560=560
	toolHeadHammerPigIron;_864=864
	toolHeadScrewdriverPigIron;_144=144
	toolHeadBuilderwandPigIron;_144=144
	toolHeadConstructionPickaxePigIron;_416=416
	toolHeadAxeDoublePigIron;_688=688
	toolHeadUniversalSpadePigIron;_112=112
	toolHeadArrowPigIron;_16=16
	toolHeadRawSawPigIron;_288=288
	toolHeadRawChiselPigIron;_216=216
	toolHeadRawSwordPigIron;_288=288
	toolHeadRawPickaxePigIron;_432=432
	toolHeadRawShovelPigIron;_144=144
	toolHeadRawSpadePigIron;_144=144
	toolHeadRawUniversalSpadePigIron;_128=128
	toolHeadRawAxePigIron;_432=432
	toolHeadRawAxeDoublePigIron;_720=720
	toolHeadRawHoePigIron;_288=288
	toolHeadRawSensePigIron;_432=432
	toolHeadRawPlowPigIron;_576=576
	toolHeadRawArrowPigIron;_18=18
	bulletGtSmallPigIron;_16=16
	bulletGtMediumPigIron;_32=32
	bulletGtLargePigIron;_48=48
	arrowGtWoodPigIron;_16=16
	arrowGtPlasticPigIron;_16=16
	blockIngotPigIron;_1296=1296
	blockPlatePigIron;_1296=1296
	blockSolidPigIron;_1296=1296
	ingotQuintupleIronCompressed;_720=720
	ingotQuadrupleIronCompressed;_576=576
	ingotTripleIronCompressed;_432=432
	ingotDoubleIronCompressed;_288=288
	ingotHotIronCompressed;_144=144
	ingotIronCompressed;_144=144
	billetIronCompressed;_96=96
	chunkGtIronCompressed;_36=36
	nuggetIronCompressed;_16=16
	scrapGtIronCompressed;_16=16
	plateDenseIronCompressed;_1296=1296
	plateQuintupleIronCompressed;_720=720
	plateQuadrupleIronCompressed;_576=576
	plateTripleIronCompressed;_432=432
	plateDoubleIronCompressed;_288=288
	plateIronCompressed;_144=144
	plateTinyIronCompressed;_16=16
	plateCurvedIronCompressed;_144=144
	foilIronCompressed;_36=36
	stickIronCompressed;_72=72
	stickLongIronCompressed;_144=144
	boltIronCompressed;_18=18
	screwIronCompressed;_16=16
	roundIronCompressed;_16=16
	ringIronCompressed;_36=36
	chainIronCompressed;_144=144
	springIronCompressed;_144=144
	springSmallIronCompressed;_36=36
	wireFineIronCompressed;_18=18
	minecartWheelsIronCompressed;_144=144
	gearGtIronCompressed;_576=576
	gearGtSmallIronCompressed;_144=144
	casingSmallIronCompressed;_72=72
	casingMachineIronCompressed;_1152=1152
	casingMachineDoubleIronCompressed;_2016=2016
	casingMachineQuadrupleIronCompressed;_3744=3744
	casingMachineDenseIronCompressed;_8064=8064
	rotorIronCompressed;_612=612
	toolHeadSawIronCompressed;_272=272
	toolHeadFileIronCompressed;_216=216
	toolHeadChiselIronCompressed;_200=200
	toolHeadBuzzSawIronCompressed;_576=576
	toolHeadChainsawIronCompressed;_288=288
	toolHeadWrenchIronCompressed;_576=576
	toolHeadDrillIronCompressed;_576=576
	toolHeadSwordIronCompressed;_272=272
	toolHeadPickaxeIronCompressed;_416=416
	toolHeadShovelIronCompressed;_128=128
	toolHeadSpadeIronCompressed;_128=128
	toolHeadAxeIronCompressed;_416=416
	toolHeadHoeIronCompressed;_272=272
	toolHeadSenseIronCompressed;_416=416
	toolHeadPlowIronCompressed;_560=560
	toolHeadHammerIronCompressed;_864=864
	toolHeadScrewdriverIronCompressed;_144=144
	toolHeadBuilderwandIronCompressed;_144=144
	toolHeadConstructionPickaxeIronCompressed;_416=416
	toolHeadAxeDoubleIronCompressed;_688=688
	toolHeadUniversalSpadeIronCompressed;_112=112
	toolHeadArrowIronCompressed;_16=16
	toolHeadRawSawIronCompressed;_288=288
	toolHeadRawChiselIronCompressed;_216=216
	toolHeadRawSwordIronCompressed;_288=288
	toolHeadRawPickaxeIronCompressed;_432=432
	toolHeadRawShovelIronCompressed;_144=144
	toolHeadRawSpadeIronCompressed;_144=144
	toolHeadRawUniversalSpadeIronCompressed;_128=128
	toolHeadRawAxeIronCompressed;_432=432
	toolHeadRawAxeDoubleIronCompressed;_720=720
	toolHeadRawHoeIronCompressed;_288=288
	toolHeadRawSenseIronCompressed;_432=432
	toolHeadRawPlowIronCompressed;_576=576
	toolHeadRawArrowIronCompressed;_18=18
	bulletGtSmallIronCompressed;_16=16
	bulletGtMediumIronCompressed;_32=32
	bulletGtLargeIronCompressed;_48=48
	arrowGtWoodIronCompressed;_16=16
	arrowGtPlasticIronCompressed;_16=16
	blockIngotIronCompressed;_1296=1296
	blockPlateIronCompressed;_1296=1296
	blockSolidIronCompressed;_1296=1296
	ingotQuintupleMeteoricSteel;_720=720
	ingotQuadrupleMeteoricSteel;_576=576
	ingotTripleMeteoricSteel;_432=432
	ingotDoubleMeteoricSteel;_288=288
	ingotHotMeteoricSteel;_144=144
	ingotMeteoricSteel;_144=144
	billetMeteoricSteel;_96=96
	chunkGtMeteoricSteel;_36=36
	nuggetMeteoricSteel;_16=16
	scrapGtMeteoricSteel;_16=16
	plateDenseMeteoricSteel;_1296=1296
	plateQuintupleMeteoricSteel;_720=720
	plateQuadrupleMeteoricSteel;_576=576
	plateTripleMeteoricSteel;_432=432
	plateDoubleMeteoricSteel;_288=288
	plateMeteoricSteel;_144=144
	plateTinyMeteoricSteel;_16=16
	plateCurvedMeteoricSteel;_144=144
	foilMeteoricSteel;_36=36
	stickMeteoricSteel;_72=72
	stickLongMeteoricSteel;_144=144
	boltMeteoricSteel;_18=18
	screwMeteoricSteel;_16=16
	roundMeteoricSteel;_16=16
	ringMeteoricSteel;_36=36
	chainMeteoricSteel;_144=144
	springMeteoricSteel;_144=144
	springSmallMeteoricSteel;_36=36
	wireFineMeteoricSteel;_18=18
	minecartWheelsMeteoricSteel;_144=144
	gearGtMeteoricSteel;_576=576
	gearGtSmallMeteoricSteel;_144=144
	casingSmallMeteoricSteel;_72=72
	casingMachineMeteoricSteel;_1152=1152
	casingMachineDoubleMeteoricSteel;_2016=2016
	casingMachineQuadrupleMeteoricSteel;_3744=3744
	casingMachineDenseMeteoricSteel;_8064=8064
	rotorMeteoricSteel;_612=612
	toolHeadSawMeteoricSteel;_272=272
	toolHeadFileMeteoricSteel;_216=216
	toolHeadChiselMeteoricSteel;_200=200
	toolHeadBuzzSawMeteoricSteel;_576=576
	toolHeadChainsawMeteoricSteel;_288=288
	toolHeadWrenchMeteoricSteel;_576=576
	toolHeadDrillMeteoricSteel;_576=576
	toolHeadSwordMeteoricSteel;_272=272
	toolHeadPickaxeMeteoricSteel;_416=416
	toolHeadShovelMeteoricSteel;_128=128
	toolHeadSpadeMeteoricSteel;_128=128
	toolHeadAxeMeteoricSteel;_416=416
	toolHeadHoeMeteoricSteel;_272=272
	toolHeadSenseMeteoricSteel;_416=416
	toolHeadPlowMeteoricSteel;_560=560
	toolHeadHammerMeteoricSteel;_864=864
	toolHeadScrewdriverMeteoricSteel;_144=144
	toolHeadBuilderwandMeteoricSteel;_144=144
	toolHeadConstructionPickaxeMeteoricSteel;_416=416
	toolHeadAxeDoubleMeteoricSteel;_688=688
	toolHeadUniversalSpadeMeteoricSteel;_112=112
	toolHeadArrowMeteoricSteel;_16=16
	toolHeadRawSawMeteoricSteel;_288=288
	toolHeadRawChiselMeteoricSteel;_216=216
	toolHeadRawSwordMeteoricSteel;_288=288
	toolHeadRawPickaxeMeteoricSteel;_432=432
	toolHeadRawShovelMeteoricSteel;_144=144
	toolHeadRawSpadeMeteoricSteel;_144=144
	toolHeadRawUniversalSpadeMeteoricSteel;_128=128
	toolHeadRawAxeMeteoricSteel;_432=432
	toolHeadRawAxeDoubleMeteoricSteel;_720=720
	toolHeadRawHoeMeteoricSteel;_288=288
	toolHeadRawSenseMeteoricSteel;_432=432
	toolHeadRawPlowMeteoricSteel;_576=576
	toolHeadRawArrowMeteoricSteel;_18=18
	bulletGtSmallMeteoricSteel;_16=16
	bulletGtMediumMeteoricSteel;_32=32
	bulletGtLargeMeteoricSteel;_48=48
	arrowGtWoodMeteoricSteel;_16=16
	arrowGtPlasticMeteoricSteel;_16=16
	blockIngotMeteoricSteel;_1296=1296
	blockPlateMeteoricSteel;_1296=1296
	blockSolidMeteoricSteel;_1296=1296
}

