# Configuration file

Roll_Bender {
	plateCurvedTinAlloy;_64=64
	plateCurvedCastIron;_256=256
	plateCurvedIron;_256=256
	plateCurvedWroughtIron;_256=256
	plateCurvedMeteoricIron;_256=256
	plateCurvedPigIron;_256=256
	plateCurvedMeteorite;_256=256
	plateCurvedIronCompressed;_256=256
	plateBeryllium;_768=768
	plateBeryllium7;_256=256
	plateBeryllium8;_256=256
	plateBoron;_256=256
	plateBoron11;_256=256
	plateSilicon;_256=256
	plateScandium;_256=256
	plateTitanium;_1024=1024
	plateVanadium;_256=256
	plateChromium;_1024=1024
	plateManganese;_768=768
	plateIron;_768=768
	plateCobalt;_1024=1024
	plateCobalt60;_1024=1024
	plateNickel;_768=768
	plateYttrium;_256=256
	plateZirconium;_1024=1024
	plateNiobium;_256=256
	plateMolybdenum;_768=768
	plateTechnetium;_512=512
	plateRuthenium;_256=256
	plateRhodium;_256=256
	platePalladium;_768=768
	platePraseodymium;_256=256
	plateNeodymium;_1024=1024
	platePromethium;_256=256
	plateSamarium;_256=256
	plateGadolinium;_256=256
	plateTerbium;_256=256
	plateDysprosium;_256=256
	plateHolmium;_256=256
	plateErbium;_256=256
	plateThulium;_256=256
	plateLutetium;_256=256
	plateHafnium;_256=256
	plateTantalum;_256=256
	plateTungsten;_1024=1024
	plateRhenium;_256=256
	plateOsmiumElemental;_1280=1280
	plateIridium;_1280=1280
	platePlatinum;_768=768
	plateActinium;_256=256
	plateThorium;_768=768
	plateProtactinium;_256=256
	plateUranium;_1024=1024
	plateUranium235;_1024=1024
	plateUranium233;_1024=1024
	plateAmericium;_768=768
	plateAmericium241;_768=768
	plateAmericium242;_768=768
	plateCurium;_256=256
	plateBerkelium;_256=256
	plateLawrencium;_256=256
	plateRutherfordium;_256=256
	plateTrinium;_1280=1280
	plateNaquadah;_1280=1280
	plateNaquadahEnriched;_1280=1280
	plateNaquadria;_1280=1280
	plateAbyssalnite;_1024=1024
	plateCoralium;_1024=1024
	plateDreadium;_1280=1280
	plateEthaxium;_1280=1280
	plateAtlarus;_1280=1280
	plateAdamantium;_1536=1536
	plateCarborundum;_1024=1024
	plateFerrite;_256=256
	plateWroughtIron;_768=768
	plateAlduorite;_768=768
	plateInfuscolium;_768=768
	plateRubracium;_768=768
	plateMeutoite;_768=768
	plateLemurite;_768=768
	plateAredrite;_1024=1024
	plateCeruclase;_768=768
	plateOureclase;_1024=1024
	plateKalendrite;_1024=1024
	plateSanguinite;_1280=1280
	plateVyroxeres;_1024=1024
	plateEximite;_1024=1024
	plateIgnatius;_768=768
	plateDeepIron;_768=768
	plateShadowIron;_768=768
	plateAdamantine;_1536=1536
	plateVulcanite;_1024=1024
	plateOrichalcum;_1024=1024
	plateAstralSilver;_768=768
	plateMidasium;_768=768
	plateMithril;_1024=1024
	plateCelenegil;_1024=1024
	plateShadowSteel;_768=768
	plateInolashite;_1024=1024
	plateHaderoth;_1024=1024
	plateDesichalkos;_1280=1280
	plateTartarite;_1536=1536
	plateAmordrine;_1024=1024
	plateAngmallen;_768=768
	plateCdInAgAlloy;_256=256
	plateGildedIron;_768=768
	plateAluminiumAlloy;_768=768
	plateHepatizon;_768=768
	plateSteel;_768=768
	plateBlackSteel;_768=768
	plateBlueSteel;_768=768
	plateRedSteel;_768=768
	plateDamascusSteel;_768=768
	plateVanadiumSteel;_1024=1024
	plateTungstensteel;_1280=1280
	plateTungstenCarbide;_1280=1280
	plateHSLASteel;_768=768
	plateHSLASpringSteel;_768=768
	plateHSLATungstenAlloy;_768=768
	platePigIron;_768=768
	plateIronCompressed;_768=768
	plateCastIron;_768=768
	plateIronMagnetic;_768=768
	plateSteelMagnetic;_768=768
	plateNeodymiumMagnetic;_1024=1024
	plateDarkIron;_1024=1024
	plateSteelGalvanized;_768=768
	plateTungstenSintered;_1024=1024
	plateTitaniumGold;_1280=1280
	plateTantalumHafniumCarbide;_768=768
	plateMeteoricIron;_768=768
	plateMeteoricSteel;_768=768
	plateMeteoricBlackSteel;_768=768
	plateMeteoricBlueSteel;_768=768
	plateMeteoricRedSteel;_768=768
	plateRedstoneAlloy;_256=256
	plateNikolineAlloy;_256=256
	plateConductiveIron;_768=768
	plateInvar;_768=768
	plateConstantan;_512=512
	plateNichrome;_768=768
	plateKanthal;_768=768
	plateStainlessSteel;_768=768
	plateUltimet;_1024=1024
	plateKnightmetal;_1024=1024
	plateFierySteel;_1280=1280
	plateMeteoflameSteel;_1280=1280
	plateMeteoflameBlackSteel;_1280=1280
	plateMeteoflameBlueSteel;_1280=1280
	plateMeteoflameRedSteel;_1280=1280
	plateFlamascusSteel;_1280=1280
	plateThaumium;_1024=1024
	plateDarkThaumium;_1024=1024
	plateVoidMetal;_1280=1280
	plateOsmiridium;_1280=1280
	plateSunnarium;_256=256
	plateChromiumDioxide;_1024=1024
	plateVanadiumGallium;_256=256
	plateYttriumBariumCuprate;_256=256
	plateNiobiumNitride;_256=256
	plateNiobiumTitanium;_256=256
	plateArdite;_1024=1024
	plateAlumite;_1024=1024
	plateManyullyn;_1024=1024
	plateVibraniumSteel;_2816=2816
	plateVibraniumSilver;_2560=2560
	plateVibramantium;_4096=4096
	plateEnderiumBase;_256=256
	plateEnderium;_1024=1024
	plateGlowstoneRefined;_768=768
	plateObsidianRefined;_1024=1024
	plateYellorium;_256=256
	plateBlutonium;_256=256
	plateCyanite;_256=256
	plateLudicrite;_256=256
	plateBedrockHSLAAlloy;_1536=1536
	plateObsidianSteel;_768=768
	platePulsatingIron;_768=768
	plateEnergeticAlloy;_768=768
	plateVibrantAlloy;_768=768
	plateElectricalSteel;_768=768
	plateSoularium;_768=768
	plateClayCompound;_256=256
	plateEndSteel;_256=256
	plateMelodicAlloy;_256=256
	plateStellarAlloy;_256=256
	plateVividAlloy;_256=256
	plateCrystallineAlloy;_256=256
	plateCrystallinePinkSlime;_256=256
	plateSpectreIron;_768=768
	plateManasteel;_1024=1024
	plateTerrasteel;_1280=1280
	plateElvenElementium;_1024=1024
	plateGaiaSpirit;_1280=1280
	plateEndium;_1024=1024
	plateMauftrium;_1024=1024
	plateElvorium;_1024=1024
	plateNiflheimPower;_1024=1024
	plateMuspelheimPower;_1024=1024
	plateAncientDebris;_1024=1024
	plateNetherite;_1280=1280
	plateNetherizedDiamond;_1280=1280
	plateEfrine;_1024=1024
	plateDesh;_1024=1024
	plateWorkersAlloy;_768=768
	plateDuranium;_1280=1280
	plateTritanium;_1536=1536
	plateOriharukon;_768=768
	plateAdamantite;_1024=1024
	plateDuralumin;_768=768
	plateMeteorite;_1024=1024
	plateFrozenIron;_768=768
	plateKreknorite;_1024=1024
	plateOctine;_768=768
	plateHSSG;_1024=1024
	plateHSSE;_1280=1280
	plateHSSS;_1280=1280
	plateBedrockium;_256=256
	plateDraconium;_1280=1280
	plateDraconiumAwakened;_1536=1536
	plateCrystalMatrix;_1280=1280
	plateCosmicNeutronium;_2816=2816
	plateInfinity;_4096=4096
	plateUnstable;_256=256
	plateTrinaquadalloy;_1536=1536
	plateTrinitanium;_1280=1280
	plateTitaniumIridium;_1280=1280
	plateTitaniumAluminide;_1024=1024
	stickLongBeryllium;_768=768
	stickLongTitanium;_1024=1024
	stickLongChromium;_1024=1024
	stickLongManganese;_768=768
	stickLongIron;_768=768
	stickLongCobalt;_1024=1024
	stickLongCobalt60;_1024=1024
	stickLongNickel;_768=768
	stickLongZirconium;_1024=1024
	stickLongMolybdenum;_768=768
	stickLongTechnetium;_512=512
	stickLongPalladium;_768=768
	stickLongNeodymium;_1024=1024
	stickLongTungsten;_1024=1024
	stickLongOsmiumElemental;_1280=1280
	stickLongIridium;_1280=1280
	stickLongPlatinum;_768=768
	stickLongThorium;_768=768
	stickLongUranium;_1024=1024
	stickLongUranium235;_1024=1024
	stickLongUranium233;_1024=1024
	stickLongAmericium;_768=768
	stickLongAmericium241;_768=768
	stickLongAmericium242;_768=768
	stickLongTrinium;_1280=1280
	stickLongNaquadah;_1280=1280
	stickLongNaquadahEnriched;_1280=1280
	stickLongNaquadria;_1280=1280
	stickLongAbyssalnite;_1024=1024
	stickLongCoralium;_1024=1024
	stickLongDreadium;_1280=1280
	stickLongEthaxium;_1280=1280
	stickLongAtlarus;_1280=1280
	stickLongAdamantium;_1536=1536
	stickLongWroughtIron;_768=768
	stickLongAlduorite;_768=768
	stickLongInfuscolium;_768=768
	stickLongRubracium;_768=768
	stickLongMeutoite;_768=768
	stickLongLemurite;_768=768
	stickLongAredrite;_1024=1024
	stickLongCeruclase;_768=768
	stickLongOureclase;_1024=1024
	stickLongKalendrite;_1024=1024
	stickLongSanguinite;_1280=1280
	stickLongVyroxeres;_1024=1024
	stickLongEximite;_1024=1024
	stickLongIgnatius;_768=768
	stickLongDeepIron;_768=768
	stickLongShadowIron;_768=768
	stickLongAdamantine;_1536=1536
	stickLongVulcanite;_1024=1024
	stickLongOrichalcum;_1024=1024
	stickLongAstralSilver;_768=768
	stickLongMidasium;_768=768
	stickLongMithril;_1024=1024
	stickLongCelenegil;_1024=1024
	stickLongShadowSteel;_768=768
	stickLongInolashite;_1024=1024
	stickLongHaderoth;_1024=1024
	stickLongDesichalkos;_1280=1280
	stickLongTartarite;_1536=1536
	stickLongAmordrine;_1024=1024
	stickLongAngmallen;_768=768
	stickLongCdInAgAlloy;_256=256
	stickLongGildedIron;_768=768
	stickLongAluminiumAlloy;_768=768
	stickLongHepatizon;_768=768
	stickLongSteel;_768=768
	stickLongBlackSteel;_768=768
	stickLongBlueSteel;_768=768
	stickLongRedSteel;_768=768
	stickLongDamascusSteel;_768=768
	stickLongVanadiumSteel;_1024=1024
	stickLongTungstensteel;_1280=1280
	stickLongTungstenCarbide;_1280=1280
	stickLongHSLASteel;_768=768
	stickLongHSLASpringSteel;_768=768
	stickLongHSLATungstenAlloy;_768=768
	stickLongPigIron;_768=768
	stickLongIronCompressed;_768=768
	stickLongCastIron;_768=768
	stickLongIronMagnetic;_768=768
	stickLongSteelMagnetic;_768=768
	stickLongNeodymiumMagnetic;_1024=1024
	stickLongDarkIron;_1024=1024
	stickLongSteelGalvanized;_768=768
	stickLongTungstenSintered;_1024=1024
	stickLongTitaniumGold;_1280=1280
	stickLongTantalumHafniumCarbide;_768=768
	stickLongMeteoricIron;_768=768
	stickLongMeteoricSteel;_768=768
	stickLongMeteoricBlackSteel;_768=768
	stickLongMeteoricBlueSteel;_768=768
	stickLongMeteoricRedSteel;_768=768
	stickLongConductiveIron;_768=768
	stickLongInvar;_768=768
	stickLongConstantan;_512=512
	stickLongNichrome;_768=768
	stickLongKanthal;_768=768
	stickLongStainlessSteel;_768=768
	stickLongUltimet;_1024=1024
	stickLongKnightmetal;_1024=1024
	stickLongFierySteel;_1280=1280
	stickLongMeteoflameSteel;_1280=1280
	stickLongMeteoflameBlackSteel;_1280=1280
	stickLongMeteoflameBlueSteel;_1280=1280
	stickLongMeteoflameRedSteel;_1280=1280
	stickLongFlamascusSteel;_1280=1280
	stickLongThaumium;_1024=1024
	stickLongDarkThaumium;_1024=1024
	stickLongVoidMetal;_1280=1280
	stickLongOsmiridium;_1280=1280
	stickLongSunnarium;_256=256
	stickLongChromiumDioxide;_1024=1024
	stickLongArdite;_1024=1024
	stickLongAlumite;_1024=1024
	stickLongManyullyn;_1024=1024
	stickLongVibraniumSteel;_2816=2816
	stickLongVibraniumSilver;_2560=2560
	stickLongVibramantium;_4096=4096
	stickLongEnderiumBase;_256=256
	stickLongEnderium;_1024=1024
	stickLongGlowstoneRefined;_768=768
	stickLongObsidianRefined;_1024=1024
	stickLongBedrockHSLAAlloy;_1536=1536
	stickLongObsidianSteel;_768=768
	stickLongPulsatingIron;_768=768
	stickLongEnergeticAlloy;_768=768
	stickLongVibrantAlloy;_768=768
	stickLongElectricalSteel;_768=768
	stickLongSoularium;_768=768
	stickLongSpectreIron;_768=768
	stickLongManasteel;_1024=1024
	stickLongTerrasteel;_1280=1280
	stickLongElvenElementium;_1024=1024
	stickLongGaiaSpirit;_1280=1280
	stickLongEndium;_1024=1024
	stickLongMauftrium;_1024=1024
	stickLongElvorium;_1024=1024
	stickLongNiflheimPower;_1024=1024
	stickLongMuspelheimPower;_1024=1024
	stickLongNetherite;_1280=1280
	stickLongNetherizedDiamond;_1280=1280
	stickLongEfrine;_1024=1024
	stickLongDesh;_1024=1024
	stickLongWorkersAlloy;_768=768
	stickLongDuranium;_1280=1280
	stickLongTritanium;_1536=1536
	stickLongOriharukon;_768=768
	stickLongAdamantite;_1024=1024
	stickLongDuralumin;_768=768
	stickLongMeteorite;_1024=1024
	stickLongFrozenIron;_768=768
	stickLongKreknorite;_1024=1024
	stickLongOctine;_768=768
	stickLongHSSG;_1024=1024
	stickLongHSSE;_1280=1280
	stickLongHSSS;_1280=1280
	stickLongBedrockium;_256=256
	stickLongDraconium;_1280=1280
	stickLongDraconiumAwakened;_1536=1536
	stickLongCrystalMatrix;_1280=1280
	stickLongCosmicNeutronium;_2816=2816
	stickLongInfinity;_4096=4096
	stickLongTrinaquadalloy;_1536=1536
	stickLongTrinitanium;_1280=1280
	stickLongTitaniumIridium;_1280=1280
	stickLongTitaniumAluminide;_1024=1024
	plateLithium;_16=16
	plateLithium6;_16=16
	plateSodium;_16=16
	plateMagnesium;_16=16
	plateAluminium;_16=16
	platePotassium;_16=16
	plateCalcium;_16=16
	plateCopper;_16=16
	plateZinc;_16=16
	plateGallium;_16=16
	plateGermanium;_16=16
	plateArsenic;_16=16
	plateRubidium;_16=16
	plateStrontium;_16=16
	plateSilver;_16=16
	plateCadmium;_16=16
	plateIndium;_16=16
	plateTin;_16=16
	plateAntimony;_16=16
	plateTellurium;_16=16
	plateCaesium;_16=16
	plateBarium;_16=16
	plateLanthanium;_16=16
	plateCerium;_16=16
	plateEuropium;_16=16
	plateYtterbium;_16=16
	plateGold;_16=16
	plateGold198;_16=16
	plateMercury;_16=16
	plateThallium;_16=16
	plateLead;_16=16
	plateBismuth;_16=16
	platePolonium;_16=16
	plateAstatine;_16=16
	plateFrancium;_16=16
	plateRadium;_16=16
	plateNeptunium;_16=16
	platePlutonium;_16=16
	platePlutonium240;_16=16
	platePlutonium241;_16=16
	platePlutonium243;_16=16
	platePlutonium238;_16=16
	platePlutonium239;_16=16
	plateCalifornium;_16=16
	plateEinsteinium;_16=16
	plateFermium;_16=16
	plateMendelevium;_16=16
	plateNobelium;_16=16
	plateDubnium;_16=16
	plateSeaborgium;_16=16
	plateBohrium;_16=16
	plateHassium;_16=16
	plateCopernicium;_16=16
	plateFlerovium;_16=16
	plateFlerovium298;_16=16
	plateAnnealedCopper;_16=16
	plateCarmot;_16=16
	platePrometheum;_16=16
	plateElectrum;_16=16
	plateSterlingSilver;_16=16
	plateRoseGold;_16=16
	plateGoldInductive;_16=16
	plateBrass;_16=16
	plateCobaltBrass;_16=16
	plateBronze;_16=16
	plateBlackBronze;_16=16
	plateBismuthBronze;_16=16
	plateArsenicCopper;_16=16
	plateArsenicBronze;_16=16
	plateRedAlloy;_16=16
	plateBlueAlloy;_16=16
	platePurpleAlloy;_16=16
	plateMingrade;_16=16
	plateElectrotineAlloy;_16=16
	plateElectrumFlux;_16=16
	plateEnergeticSilver;_16=16
	plateMagnalium;_16=16
	plateTinAlloy;_16=16
	plateBatteryAlloy;_16=16
	plateSolderingAlloy;_16=16
	plateIronwood;_16=16
	plateSteeleaf;_16=16
	plateFireleaf;_16=16
	plateAluminiumBrass;_16=16
	plateSignalum;_16=16
	plateLumium;_16=16
	plateSyrmorite;_16=16
	stickLongAluminium;_16=16
	stickLongCopper;_16=16
	stickLongGermanium;_16=16
	stickLongSilver;_16=16
	stickLongTin;_16=16
	stickLongAntimony;_16=16
	stickLongGold;_16=16
	stickLongLead;_16=16
	stickLongBismuth;_16=16
	stickLongPlutonium;_16=16
	stickLongPlutonium240;_16=16
	stickLongPlutonium241;_16=16
	stickLongPlutonium243;_16=16
	stickLongPlutonium238;_16=16
	stickLongPlutonium239;_16=16
	stickLongAnnealedCopper;_16=16
	stickLongCarmot;_16=16
	stickLongPrometheum;_16=16
	stickLongElectrum;_16=16
	stickLongSterlingSilver;_16=16
	stickLongRoseGold;_16=16
	stickLongGoldInductive;_16=16
	stickLongBrass;_16=16
	stickLongCobaltBrass;_16=16
	stickLongBronze;_16=16
	stickLongBlackBronze;_16=16
	stickLongBismuthBronze;_16=16
	stickLongArsenicCopper;_16=16
	stickLongArsenicBronze;_16=16
	stickLongElectrumFlux;_16=16
	stickLongMagnalium;_16=16
	stickLongTinAlloy;_16=16
	stickLongIronwood;_16=16
	stickLongSteeleaf;_16=16
	stickLongFireleaf;_16=16
	stickLongAluminiumBrass;_16=16
	stickLongSignalum;_16=16
	stickLongLumium;_16=16
	stickLongSyrmorite;_16=16
}

