# Configuration file

Roll_Former {
	plateTitanium;_256=256
	plateIron;_192=192
	plateTungsten;_256=256
	plateOsmiumElemental;_320=320
	platePlatinum;_192=192
	plateAdamantium;_384=384
	plateWroughtIron;_192=192
	plateSteel;_192=192
	plateTungstensteel;_320=320
	plateTungstenCarbide;_320=320
	plateHSLASteel;_192=192
	plateTungstenSintered;_256=256
	plateMeteoricIron;_192=192
	plateMeteoricSteel;_192=192
	plateStainlessSteel;_192=192
	plateObsidianSteel;_192=192
	plateMeteorite;_256=256
	plateHSSG;_256=256
	plateHSSE;_320=320
	plateHSSS;_320=320
}

