# Configuration file

Wiremill {
	stickBeryllium;_192=192
	stickTitanium;_256=256
	stickChromium;_256=256
	stickManganese;_192=192
	stickIron;_192=192
	stickCobalt;_256=256
	stickCobalt60;_256=256
	stickNickel;_192=192
	stickZirconium;_256=256
	stickMolybdenum;_192=192
	stickTechnetium;_128=128
	stickPalladium;_192=192
	stickNeodymium;_256=256
	stickTungsten;_256=256
	stickOsmiumElemental;_320=320
	stickIridium;_320=320
	stickPlatinum;_192=192
	stickThorium;_192=192
	stickUranium;_256=256
	stickUranium235;_256=256
	stickUranium233;_256=256
	stickAmericium;_192=192
	stickAmericium241;_192=192
	stickAmericium242;_192=192
	stickTrinium;_320=320
	stickNaquadah;_320=320
	stickNaquadahEnriched;_320=320
	stickNaquadria;_320=320
	stickAbyssalnite;_256=256
	stickCoralium;_256=256
	stickDreadium;_320=320
	stickEthaxium;_320=320
	stickAtlarus;_320=320
	stickAdamantium;_384=384
	stickCarborundum;_256=256
	stickWroughtIron;_192=192
	stickAlduorite;_192=192
	stickInfuscolium;_192=192
	stickRubracium;_192=192
	stickMeutoite;_192=192
	stickLemurite;_192=192
	stickAredrite;_256=256
	stickCeruclase;_192=192
	stickOureclase;_256=256
	stickKalendrite;_256=256
	stickSanguinite;_320=320
	stickVyroxeres;_256=256
	stickEximite;_256=256
	stickIgnatius;_192=192
	stickDeepIron;_192=192
	stickShadowIron;_192=192
	stickAdamantine;_384=384
	stickVulcanite;_256=256
	stickOrichalcum;_256=256
	stickAstralSilver;_192=192
	stickMidasium;_192=192
	stickMithril;_256=256
	stickCelenegil;_256=256
	stickShadowSteel;_192=192
	stickInolashite;_256=256
	stickHaderoth;_256=256
	stickDesichalkos;_320=320
	stickTartarite;_384=384
	stickAmordrine;_256=256
	stickAngmallen;_192=192
	stickCdInAgAlloy;_64=64
	stickAluminiumAlloy;_192=192
	stickHepatizon;_192=192
	stickSteel;_192=192
	stickBlackSteel;_192=192
	stickBlueSteel;_192=192
	stickRedSteel;_192=192
	stickDamascusSteel;_192=192
	stickVanadiumSteel;_256=256
	stickTungstensteel;_320=320
	stickTungstenCarbide;_320=320
	stickHSLASteel;_192=192
	stickHSLASpringSteel;_192=192
	stickHSLATungstenAlloy;_192=192
	stickPigIron;_192=192
	stickIronCompressed;_192=192
	stickCastIron;_192=192
	stickIronMagnetic;_192=192
	stickSteelMagnetic;_192=192
	stickNeodymiumMagnetic;_256=256
	stickDarkIron;_256=256
	stickTungstenSintered;_256=256
	stickTitaniumGold;_320=320
	stickTantalumHafniumCarbide;_192=192
	stickMeteoricIron;_192=192
	stickMeteoricSteel;_192=192
	stickMeteoricBlackSteel;_192=192
	stickMeteoricBlueSteel;_192=192
	stickMeteoricRedSteel;_192=192
	stickConductiveIron;_192=192
	stickInvar;_192=192
	stickConstantan;_128=128
	stickNichrome;_192=192
	stickKanthal;_192=192
	stickStainlessSteel;_192=192
	stickUltimet;_256=256
	stickKnightmetal;_256=256
	stickFierySteel;_320=320
	stickMeteoflameSteel;_320=320
	stickMeteoflameBlackSteel;_320=320
	stickMeteoflameBlueSteel;_320=320
	stickMeteoflameRedSteel;_320=320
	stickFlamascusSteel;_320=320
	stickThaumium;_256=256
	stickDarkThaumium;_256=256
	stickVoidMetal;_320=320
	stickOsmiridium;_320=320
	stickSunnarium;_64=64
	stickChromiumDioxide;_256=256
	stickArdite;_256=256
	stickAlumite;_256=256
	stickManyullyn;_256=256
	stickVibraniumSteel;_704=704
	stickVibraniumSilver;_640=640
	stickVibramantium;_1024=1024
	stickEnderiumBase;_64=64
	stickEnderium;_256=256
	stickGlowstoneRefined;_192=192
	stickObsidianRefined;_256=256
	stickBedrockHSLAAlloy;_384=384
	stickObsidianSteel;_192=192
	stickPulsatingIron;_192=192
	stickEnergeticAlloy;_192=192
	stickVibrantAlloy;_192=192
	stickElectricalSteel;_192=192
	stickSoularium;_192=192
	stickSpectreIron;_192=192
	stickManasteel;_256=256
	stickTerrasteel;_320=320
	stickElvenElementium;_256=256
	stickGaiaSpirit;_320=320
	stickEndium;_256=256
	stickMauftrium;_256=256
	stickElvorium;_256=256
	stickNiflheimPower;_256=256
	stickMuspelheimPower;_256=256
	stickNetherite;_320=320
	stickEfrine;_256=256
	stickDesh;_256=256
	stickWorkersAlloy;_192=192
	stickDuranium;_320=320
	stickTritanium;_384=384
	stickOriharukon;_192=192
	stickAdamantite;_256=256
	stickDuralumin;_192=192
	stickMeteorite;_256=256
	stickFrozenIron;_192=192
	stickKreknorite;_256=256
	stickOctine;_192=192
	stickHSSG;_256=256
	stickHSSE;_320=320
	stickHSSS;_320=320
	stickBedrockium;_64=64
	stickDraconium;_320=320
	stickDraconiumAwakened;_384=384
	stickCrystalMatrix;_320=320
	stickCosmicNeutronium;_704=704
	stickInfinity;_1024=1024
	stickTrinaquadalloy;_384=384
	stickTrinitanium;_320=320
	stickTitaniumIridium;_320=320
	stickTitaniumAluminide;_256=256
	ingotTungsten;_512=512
	ingotOsmiumElemental;_640=640
	ingotIridium;_640=640
	ingotPlatinum;_384=384
	ingotSteel;_384=384
	ingotTungstensteel;_640=640
	ingotHSLASteel;_384=384
	ingotConstantan;_256=256
	ingotNichrome;_384=384
	ingotKanthal;_384=384
	ingotOsmiridium;_640=640
	ingotVanadiumGallium;_128=128
	ingotYttriumBariumCuprate;_128=128
	ingotNiobiumTitanium;_128=128
	ingotNaquadah;_640=640
	ingotNetherite;_640=640
	ingotEfrine;_512=512
	ingotCarborundum;_512=512
	stickAluminium;_8=8
	stickCopper;_8=8
	stickGermanium;_8=8
	stickSilver;_8=8
	stickTin;_8=8
	stickAntimony;_8=8
	stickGold;_8=8
	stickLead;_8=8
	stickBismuth;_8=8
	stickPlutonium;_8=8
	stickPlutonium240;_8=8
	stickPlutonium241;_8=8
	stickPlutonium243;_8=8
	stickPlutonium238;_8=8
	stickPlutonium239;_8=8
	stickAnnealedCopper;_8=8
	stickCarmot;_8=8
	stickPrometheum;_8=8
	stickElectrum;_8=8
	stickSterlingSilver;_8=8
	stickRoseGold;_8=8
	stickGoldInductive;_8=8
	stickBrass;_8=8
	stickCobaltBrass;_8=8
	stickBronze;_8=8
	stickBlackBronze;_8=8
	stickBismuthBronze;_8=8
	stickArsenicCopper;_8=8
	stickArsenicBronze;_8=8
	stickRedAlloy;_8=8
	stickBlueAlloy;_8=8
	stickPurpleAlloy;_8=8
	stickMingrade;_8=8
	stickElectrotineAlloy;_8=8
	stickElectrumFlux;_8=8
	stickMagnalium;_8=8
	stickTinAlloy;_8=8
	stickSolderingAlloy;_8=8
	stickIronwood;_8=8
	stickSteeleaf;_8=8
	stickFireleaf;_8=8
	stickAluminiumBrass;_8=8
	stickSignalum;_8=8
	stickLumium;_8=8
	stickSyrmorite;_8=8
	ingotAluminium;_16=16
	ingotCopper;_16=16
	ingotAnnealedCopper;_16=16
	ingotSilver;_16=16
	ingotTin;_16=16
	ingotElectrum;_16=16
	ingotGold;_16=16
	ingotLead;_16=16
	ingotRedAlloy;_16=16
	ingotBlueAlloy;_16=16
	ingotElectrotineAlloy;_16=16
	ingotSignalum;_16=16
	ingotLumium;_16=16
}

