# Configuration file

ae2 {
	ReplaceMeteoriteGeneration=true
	DisableAllQuartzToolRecipes=true
	DisableAllInscriberRecipes=true
	DisableAllChargerCrystalRecipes=true
	DisableAllTransformCrystalRecipes=true
	DisableAllFluixToolRecipes=true
	DisableAllSkyStoneContainerRecipes=true
	DisableAllTinyTNTRecipes=true
	DisableAllEntropyManipulatorRecipes=true
	DisableAllCableAnchorRecipes=true
	DisableAllSkyStoneDustSmeltingRecipes=true
	DisableAllEnergyGeneratorRecipes=true
	DisableAllChargerAndCrankRecipes=true
	DisableAllCrystalDeconstructionRecipes=false
}

compat {
	IC2Classic=true
	IC2EnergyItems=true
	IndustrialCraft2=true
	ThaumCraft=true
	BuildCraft=true
	ComputerCraft=true
	OpenComputers=true
	Forestry=true
	GalactiCraft=true
	WarpDrive=true
}

general {
	LoggingErrors=true
	LoggingPlayerActivity=false
	forceAdventureMode=false
	AdventureModeStartingKit=false
	AFK_Hunger=true
	ToolBreakFatique=true
	InventoryUnification=true
	XP_Orb_Combining=true
	HardnessMultiplier_Sand=1
	HardnessMultiplier_Rock=1
	HardnessMultiplier_Ores=1
	ItemDespawnTime=6000
	Tree_Growth_Time=1
	MaxEqualEntitiesAtOneSpot=3
	drinks_always_drinkable=false
	Emit_EU_as_RF_from_Blocks=true
	WoodNeedsSawForCrafting=true
	GravelWontDropFlint=false
	WaterSourceConversion=false
	SlowLeafDecay=false
	FastLeafDecay=true
	UninterruptedEnergyRequirement=true
	DeathByOverdosingCertainFoods=true
	NutritionSystem=true
	ObstructionChecks=true
	ResetPlayerOwnershipOfGT6Blocks=false
	PreventMobSpawnsCloseToSpawn=true
	PreventBatSpawnsOnNonVanillaStone=true
	PreventMobSpawnsAboveLightLevel0=true
	DisableGT6CraftingRecipesDEBUG=false
	mobs_drop_lead_instead_of_iron=true
	mobs_drop_variety_meats=true
	mobs_drop_random_junk=true
	mobs_drop_books_and_manuals=true
	mobs_drop_nametags_when_named=true
	Zombies_Dig_With_Tools=false
	Zombies_Dig_TileEntities=false
	Zombies_Hold_Pickaxes=false
	Zombies_Hold_TNT=false
	Zombies_Ignite_Held_TNT=false
	UseTFCAttackMultiplierWhenLoaded=true
	disable_STDOUT=false
	disable_STDERR=false
	hardermobspawners=true
	blastresistantmobspawners=true
	SkeletonsShootGTArrows=16
	FlintAndSteelChance=30
	DisableVanillaOres=true
	DisableVanillaLakes=true
	DisableIC2Ores=true
	OceanBlocksSpreadToAir=false
	OceanBlocksFlowOutFar=false
	SwampBlocksFlowOutFar=false
	RiverBlocksFlowOutFar=false
	Enable1x1ReactorCore=false
	IncreaseDungeonLoot=true
	SmallerVanillaToolDurability=true
	EasyU235Extraction=false
}

ic2 {
	EnableAddingMaceratorRecipes=true
	EnableAddingExtractorRecipes=true
	EnableAddingCompressorRecipes=true
	EnableAddingOreWasherRecipes=true
	EnableAddingThermalCentrifugeRecipes=true
}

machines {
	burning_box_light_value=13
	explode_by_fire=true
	explode_by_rain=true
	explode_by_water=true
	explode_by_thunder=true
	explode_by_overload=false
	break_by_fire=true
	break_by_rain=true
	break_by_water=true
	break_by_thunder=true
	break_by_overload=false
}

