# Configuration file

ae2 {
	ReplaceMeteoriteGeneration=true
	DisableAllQuartzToolRecipes=true
	DisableAllInscriberRecipes=true
	DisableAllChargerCrystalRecipes=true
	DisableAllTransformCrystalRecipes=true
	DisableAllFluixToolRecipes=true
	DisableAllSkyStoneContainerRecipes=true
	DisableAllTinyTNTRecipes=true
	DisableAllEntropyManipulatorRecipes=true
	DisableAllCableAnchorRecipes=true
	DisableAllSkyStoneDustSmeltingRecipes=true
	DisableAllEnergyGeneratorRecipes=true
	DisableAllChargerAndCrankRecipes=true
	DisableAllCrystalDeconstructionRecipes=false
}

compat {
	IC2Classic=true
	IC2EnergyItems=true
	IndustrialCraft2=true
	ThaumCraft=true
	BuildCraft=true
	ComputerCraft=true
	OpenComputers=true
	Forestry=true
	GalactiCraft=true
	WarpDrive=true
}

creativetabshells {
	gt.metatool.01=2|GregTech：工具
	gt.multiitem.technological=30501|GregTech：科技
	gt.multiitem.randomtools=5008|GregTech：装备
	gt.multiitem.cans=74|GregTech：罐子
	gt.multiitem.food=12000|GregTech：自然与食物
	gt.multiitem.bottles=1600|GregTech：瓶子
	gt.multiitem.books=32000|GregTech：书籍
	gt.multiitem.bumblebee=2|GregTech：大黄蜂
	dust=32767|粉末
	dustSmall=32767|小撮粉末
	dustTiny=32767|微型粉末
	dustDiv72=32767|1/72粉末
	dustImpure=32767|不纯粉末
	crushed=32767|粉碎矿石
	crushedTiny=32767|微型粉碎矿石
	crushedPurified=32767|纯净矿石
	crushedPurifiedTiny=32767|微型纯净矿石
	crushedCentrifuged=32767|离心矿石
	crushedCentrifugedTiny=32767|微型离心矿石
	gemChipped=32767|有缺口的宝石
	gemFlawed=32767|有瑕疵的宝石
	gem=32767|宝石
	gemFlawless=32767|无瑕的宝石
	gemExquisite=32767|精致的宝石
	gemLegendary=32767|传奇宝石
	bouleGt=32767|晶柱
	nugget=32767|粒
	chunkGt=32767|碎块
	billet=32767|坯料
	ingot=32767|锭
	ingotDouble=32767|2x 锭
	ingotTriple=32767|3x 锭
	ingotQuadruple=32767|4x 锭
	ingotQuintuple=32767|5x 锭
	plateGemTiny=32767|微型宝石板
	plateGem=32767|宝石板
	plateTiny=32767|微型板
	plate=32767|板
	plateDouble=32767|2x 板
	plateTriple=32767|3x 板
	plateQuadruple=32767|4x 板
	plateQuintuple=32767|5x 板
	plateDense=32767|致密板
	plateCurved=32767|弯曲板
	rockGt=32767|岩石
	oreRaw=32767|粗矿
	gearGtSmall=32767|小齿轮
	gearGt=32767|齿轮
	rotor=32767|转子
	stick=32767|棒
	stickLong=32767|长棒
	springSmall=32767|小弹簧
	spring=32767|弹簧
	lens=32767|透镜
	round=32767|弹头
	bolt=32767|螺栓
	screw=32767|螺丝
	ring=32767|环
	chain=32767|链
	foil=32767|箔
	casingSmall=32767|小型外壳
	wireFine=32767|细导线
	minecartWheels=32767|矿车轮子
	railGt=32767|轨道
	chemtube=32767|试管
	toolHeadRawSword=32767|粗制剑刃
	toolHeadSword=32767|剑刃
	toolHeadRawPickaxe=32767|粗制镐头
	toolHeadPickaxe=32767|镐头
	toolHeadPickaxeGem=32767|宝石镐头
	toolHeadConstructionPickaxe=32767|建筑镐头
	toolHeadBuilderwand=32767|建筑手杖头
	toolHeadRawShovel=32767|粗制铲头
	toolHeadShovel=32767|铲头
	toolHeadRawSpade=32767|粗制锹头
	toolHeadSpade=32767|锹头
	toolHeadRawAxe=32767|粗制斧头
	toolHeadAxe=32767|斧头
	toolHeadRawAxeDouble=32767|粗制双斧头
	toolHeadAxeDouble=32767|双斧头
	toolHeadRawHoe=32767|粗制锄头
	toolHeadHoe=32767|锄头
	toolHeadHammer=32767|锤头
	toolHeadFile=32767|锉刀
	toolHeadRawChisel=32767|粗制凿子头
	toolHeadChisel=32767|凿子头
	toolHeadRawSaw=32767|粗制锯片
	toolHeadSaw=32767|锯片
	toolHeadDrill=32767|钻头
	toolHeadChainsaw=32767|电锯头
	toolHeadWrench=32767|扳手头
	toolHeadScrewdriver=32767|螺丝刀头
	toolHeadRawUniversalSpade=32767|粗制万能锹头
	toolHeadUniversalSpade=32767|万能锹头
	toolHeadRawSense=32767|粗制镰刀头
	toolHeadSense=32767|镰刀头
	toolHeadRawPlow=32767|粗制犁头
	toolHeadPlow=32767|犁头
	toolHeadBuzzSaw=32767|圆锯片
	toolHeadRawArrow=32767|粗制箭头
	toolHeadArrow=32767|箭头
	arrowGtWood=32767|普通箭
	arrowGtPlastic=32767|轻质箭
	bulletGtSmall=32767|小型弹壳
	bulletGtMedium=32767|中型弹壳
	bulletGtLarge=32767|大型弹壳
	blockRaw=32767|矿石块
	blockGem=32767|宝石块
	blockDust=32767|粉末块
	blockIngot=32767|方块
	blockPlate=32767|板方块
	blockPlateGem=32767|宝石板方块
	blockSolid=32767|固体金属块
	casingMachine=32767|机器外壳
	casingMachineDouble=32767|双重机器外壳
	casingMachineQuadruple=32767|四重机器外壳
	casingMachineDense=32767|致密机器外壳
	crateGt64Raw=32767|矿石板条箱
	crateGt64Gem=32767|宝石板条箱
	crateGt64Dust=32767|粉末板条箱
	crateGt64Ingot=32767|锭板条箱
	crateGt64Plate=32767|板板条箱
	crateGt64PlateGem=32767|宝石板板条箱
	oreVanillastone=32767|石头矿石
	gt.multitileentity.32745=32745|箱子
	gt.multitileentity.32751=32751|存储
	gt.multitileentity.2010=2010|保险箱
	gt.multitileentity.5010=5010|工作台
	gt.multitileentity.17997=17997|物流
	gt.multitileentity.8010=8010|漏斗
	gt.multitileentity.8410=8410|脚手架
	gt.multitileentity.1022=1022|坩埚
	gt.multitileentity.1722=1722|坩埚水龙头
	gt.multitileentity.1072=1072|模具
	gt.multitileentity.1104=1104|燃烧室
	gt.multitileentity.1204=1204|蒸汽锅炉
	gt.multitileentity.1304=1304|引擎
	gt.multitileentity.9103=9103|热交换器
	gt.multitileentity.9200=9200|反应堆
	gt.multitileentity.1538=1538|涡轮机
	gt.multitileentity.10001=10001|加热器
	gt.multitileentity.10021=10021|马达
	gt.multitileentity.10031=10031|磁铁
	gt.multitileentity.10041=10041|变压器
	gt.multitileentity.10081=10081|电池组
	gt.multitileentity.10050=10050|太阳能板
	gt.multitileentity.10060=10060|远距离传输
	gt.multitileentity.10071=10071|激光器
	gt.multitileentity.10111=10111|发电机
	gt.multitileentity.10121=10121|量子充能器
	gt.multitileentity.10131=10131|晶体充电器
	gt.multitileentity.10151=10151|激光吸收器
	gt.multitileentity.10161=10161|冷却器
	gt.multitileentity.14999=14999|ZPM
	gt.multitileentity.10180=10180|魔法能量生产
	gt.multitileentity.14013=14013|电池
	gt.multitileentity.14700=14700|能量单元
	gt.multitileentity.15002=15002|自动工具
	gt.multitileentity.16002=16002|泵
	gt.multitileentity.19000=19000|计算机
	gt.multitileentity.17101=17101|多方块机器
	gt.multitileentity.20001=20001|基础机器
	gt.multitileentity.24819=24819|轴与齿轮箱
	gt.multitileentity.32719=32719|流体容器
	gt.multitileentity.24900=24900|激光导线
	gt.multitileentity.25202=25202|物品管道
	gt.multitileentity.26142=26142|流体管道
	gt.multitileentity.27050=27050|红石导线
	gt.multitileentity.28366=28366|电线
	gt.multitileentity.30000=30000|扩展器
	gt.multitileentity.30256=30256|排序
	gt.multitileentity.31015=31015|传感器
	gt.multitileentity.32766=32766|传送门
	gt.multitileentity.32765=32765|C-泡沫
	gt.multitileentity.32764=32764|无类型
	gt.multitileentity.32500=32500|面板
	gt.multitileentity.32011=32011|绳索
	gt.multitileentity.32720=32720|杂项方块
	gt.multitileentity.32700=32700|硬币
}

general {
	LoggingErrors=true
	LoggingPlayerActivity=false
	forceAdventureMode=false
	AdventureModeStartingKit=false
	AFK_Hunger=true
	ToolBreakFatique=true
	InventoryUnification=true
	XP_Orb_Combining=true
	HardnessMultiplier_Sand=1
	HardnessMultiplier_Rock=1
	HardnessMultiplier_Ores=1
	ItemDespawnTime=6000
	Tree_Growth_Time=1
	MaxEqualEntitiesAtOneSpot=3
	drinks_always_drinkable=false
	Emit_EU_as_RF_from_Blocks=true
	WoodNeedsSawForCrafting=true
	GravelWontDropFlint=false
	WaterSourceConversion=false
	SlowLeafDecay=false
	FastLeafDecay=true
	UninterruptedEnergyRequirement=true
	DeathByOverdosingCertainFoods=true
	NutritionSystem=true
	ObstructionChecks=true
	ResetPlayerOwnershipOfGT6Blocks=false
	PreventMobSpawnsCloseToSpawn=true
	PreventBatSpawnsOnNonVanillaStone=true
	PreventMobSpawnsAboveLightLevel0=true
	DisableGT6CraftingRecipesDEBUG=false
	mobs_drop_lead_instead_of_iron=true
	mobs_drop_variety_meats=true
	mobs_drop_random_junk=true
	mobs_drop_books_and_manuals=true
	mobs_drop_nametags_when_named=true
	Zombies_Dig_With_Tools=false
	Zombies_Dig_TileEntities=false
	Zombies_Hold_Pickaxes=false
	Zombies_Hold_TNT=false
	Zombies_Ignite_Held_TNT=false
	UseTFCAttackMultiplierWhenLoaded=true
	disable_STDOUT=false
	disable_STDERR=false
	hardermobspawners=true
	blastresistantmobspawners=true
	SkeletonsShootGTArrows=16
	FlintAndSteelChance=30
	DisableVanillaOres=true
	DisableVanillaLakes=true
	DisableIC2Ores=true
	OceanBlocksSpreadToAir=false
	OceanBlocksFlowOutFar=false
	SwampBlocksFlowOutFar=false
	RiverBlocksFlowOutFar=false
	Enable1x1ReactorCore=false
	IncreaseDungeonLoot=true
	SmallerVanillaToolDurability=true
	EasyU235Extraction=false
}

ic2 {
	EnableAddingMaceratorRecipes=true
	EnableAddingExtractorRecipes=true
	EnableAddingCompressorRecipes=true
	EnableAddingOreWasherRecipes=true
	EnableAddingThermalCentrifugeRecipes=true
}

machines {
	burning_box_light_value=13
	explode_by_fire=true
	explode_by_rain=true
	explode_by_water=true
	explode_by_thunder=true
	explode_by_overload=false
	break_by_fire=true
	break_by_rain=true
	break_by_water=true
	break_by_thunder=true
	break_by_overload=false
}

