# Configuration file

stacksizes {
	ore_64=64
	oreBlackgranite_64=64
	oreRedgranite_64=64
	oreVanillastone_64=64
	oreVanillagranite_64=64
	oreAndesite_64=64
	oreDiorite_64=64
	oreDeepslate_64=64
	oreBlackstone_64=64
	oreMoon_64=64
	oreMars_64=64
	oreSpace_64=64
	orePhobos_64=64
	oreDeimos_64=64
	oreVenus_64=64
	oreMercury_64=64
	oreCeres_64=64
	oreJupiter_64=64
	oreIo_64=64
	oreEuropa_64=64
	oreGanymede_64=64
	oreCallisto_64=64
	oreSaturn_64=64
	oreRhea_64=64
	oreTitan_64=64
	oreOberon_64=64
	oreIapetus_64=64
	oreUranus_64=64
	oreTitania_64=64
	oreNeptune_64=64
	oreTriton_64=64
	orePluto_64=64
	oreEris_64=64
	oreKepler22b_64=64
	oreHolystone_64=64
	oreLivingrock_64=64
	oreDeadrock_64=64
	oreBetweenstone_64=64
	orePitstone_64=64
	oreUmberstone_64=64
	oreKomatiite_64=64
	oreBasalt_64=64
	oreMarble_64=64
	oreLimestone_64=64
	oreSiltstone_64=64
	oreShale_64=64
	oreSlate_64=64
	oreGreenschist_64=64
	oreBlueschist_64=64
	orePinkschist_64=64
	oreGrayschist_64=64
	oreGneiss_64=64
	oreLightprismarine_64=64
	oreDarkprismarine_64=64
	oreKimberlite_64=64
	oreQuartzite_64=64
	oreNetherrack_64=64
	oreEndstone_64=64
	oreSandstone_64=64
	oreGravel_64=64
	oreStrangesand_64=64
	oreRedSand_64=64
	oreSand_64=64
	oreMud_64=64
	oreBedrock_64=64
	oreNether_64=64
	oreDense_64=64
	oreEnd_64=64
	oreRich_64=64
	oreNormal_64=64
	oreSmall_64=64
	orePoor_64=64
	oreRaw_64=64
	crushed_64=64
	crushedTiny_64=64
	crushedPurified_64=64
	crushedPurifiedTiny_64=64
	crushedCentrifuged_64=64
	crushedCentrifugedTiny_64=64
	rockGt_32=32
	rawOreChunk_64=64
	clump_64=64
	cluster_21=21
	pebbles_21=21
	rubble_32=32
	chunk_32=32
	crystalline_64=64
	reduced_64=64
	cleanGravel_64=64
	dirtyGravel_64=64
	dust_64=64
	dustSmall_64=64
	dustTiny_64=64
	dustDiv72_64=64
	dustImpure_64=64
	dustPure_64=64
	dustRefined_64=64
	ingotQuintuple_12=12
	ingotQuadruple_16=16
	ingotTriple_21=21
	ingotDouble_32=32
	ingotHot_64=64
	ingot_64=64
	billet_64=64
	chunkGt_64=64
	nugget_64=64
	gem_64=64
	gemChipped_64=64
	gemFlawed_64=64
	gemFlawless_32=32
	gemExquisite_16=16
	gemLegendary_8=8
	gemOre_64=64
	gemRaw_64=64
	gemUncut_64=64
	gemPolished_64=64
	bouleGt_16=16
	crystalPure_64=64
	crystal_64=64
	lens_64=64
	scrapGt_18=18
	plateSteamcraft_64=64
	plateDense_16=16
	plateQuintuple_16=16
	plateQuadruple_16=16
	plateTriple_21=21
	plateDouble_32=32
	plate_64=64
	plateGem_64=64
	plateTiny_64=64
	plateGemTiny_64=64
	plateCurved_64=64
	compressed_64=64
	sheetGt_64=64
	foil_64=64
	stick_64=64
	stickLong_64=64
	bolt_64=64
	screw_64=64
	round_64=64
	ring_64=64
	chain_64=64
	spring_64=64
	springSmall_64=64
	wireFine_64=64
	minecartWheels_16=16
	gearGt_16=16
	gearGtSmall_64=64
	railGt_64=64
	casingSmall_64=64
	casingMachine_8=8
	casingMachineDouble_4=4
	casingMachineQuadruple_2=2
	casingMachineDense_1=1
	rotor_16=16
	chemtube_64=64
	cell_64=64
	bucket_16=16
	bottle_16=16
	capsule_16=16
	toolHeadSaw_16=16
	toolHeadFile_16=16
	toolHeadChisel_16=16
	toolHeadBuzzSaw_16=16
	toolHeadChainsaw_16=16
	toolHeadWrench_16=16
	toolHeadDrill_16=16
	toolHeadSword_16=16
	toolHeadPickaxe_16=16
	toolHeadShovel_16=16
	toolHeadSpade_16=16
	toolHeadAxe_16=16
	toolHeadHoe_16=16
	toolHeadSense_16=16
	toolHeadPlow_16=16
	toolHeadHammer_16=16
	toolHeadScrewdriver_16=16
	toolHeadBuilderwand_16=16
	toolHeadConstructionPickaxe_16=16
	toolHeadPickaxeGem_16=16
	toolHeadAxeDouble_16=16
	toolHeadUniversalSpade_16=16
	toolHeadArrow_64=64
	toolHeadRawSaw_16=16
	toolHeadRawChisel_16=16
	toolHeadRawSword_16=16
	toolHeadRawPickaxe_16=16
	toolHeadRawShovel_16=16
	toolHeadRawSpade_16=16
	toolHeadRawUniversalSpade_16=16
	toolHeadRawAxe_16=16
	toolHeadRawAxeDouble_16=16
	toolHeadRawHoe_16=16
	toolHeadRawSense_16=16
	toolHeadRawPlow_16=16
	toolHeadRawArrow_64=64
	toolSword_1=1
	toolPickaxe_1=1
	toolShovel_1=1
	toolAxe_1=1
	toolHoe_1=1
	toolShears_1=1
	tool_1=1
	bulletGtSmall_64=64
	bulletGtMedium_64=64
	bulletGtLarge_64=64
	arrowGtWood_64=64
	arrowGtPlastic_64=64
	arrow_64=64
	armorHelmet_1=1
	armorChestplate_1=1
	armorLeggings_1=1
	armorBoots_1=1
	armor_1=1
	frameGt_32=32
	capcellcon_64=64
	pipeTiny_64=64
	pipeSmall_64=64
	pipeMedium_21=21
	pipeLarge_10=10
	pipeHuge_5=5
	pipeQuadruple_5=5
	pipeNonuple_7=7
	pipeRestrictiveTiny_64=64
	pipeRestrictiveSmall_64=64
	pipeRestrictiveMedium_21=21
	pipeRestrictiveLarge_10=10
	pipeRestrictiveHuge_5=5
	pipe_64=64
	wireGt16_8=8
	wireGt15_9=9
	wireGt14_9=9
	wireGt13_10=10
	wireGt12_10=10
	wireGt11_12=12
	wireGt10_12=12
	wireGt09_16=16
	wireGt08_16=16
	wireGt07_21=21
	wireGt06_21=21
	wireGt05_32=32
	wireGt04_32=32
	wireGt03_64=64
	wireGt02_64=64
	wireGt01_64=64
	cableGt12_10=10
	cableGt08_16=16
	cableGt04_32=32
	cableGt02_64=64
	cableGt01_64=64
	crateGtRaw_64=64
	crateGtGem_64=64
	crateGtDust_64=64
	crateGtIngot_64=64
	crateGtPlate_64=64
	crateGtPlateGem_64=64
	crateGt64Raw_64=64
	crateGt64Gem_64=64
	crateGt64Dust_64=64
	crateGt64Ingot_64=64
	crateGt64Plate_64=64
	crateGt64PlateGem_64=64
	blockRaw_64=64
	blockGem_64=64
	blockDust_64=64
	blockIngot_64=64
	blockPlate_64=64
	blockPlateGem_64=64
	blockSolid_64=64
	orebush_64=64
	oreberry_64=64
	plantGtBerry_64=64
	plantGtTwig_64=64
	plantGtFiber_64=64
	plantGtWart_64=64
	plantGtBlossom_64=64
	compressedCobblestone_64=64
	compressedStone_64=64
	compressedDirt_64=64
	compressedGravel_64=64
	compressedSand_64=64
	blockBamboo_64=64
	blockGlass_64=64
	blockWool_64=64
	block__64=64
	block_64=64
	item__64=64
	item_64=64
	glass_64=64
	paneGlass_64=64
	stainedClay_64=64
	craftingTool_64=64
	crafting_64=64
	craft_64=64
	slab_64=64
	stair_64=64
	fence_64=64
	treeSapling_64=64
	treeLeaves_64=64
	tree_64=64
	log_64=64
	beam_64=64
	plank_64=64
	stoneCobble_64=64
	stoneSmooth_64=64
	stoneMossyBricks_64=64
	stoneMossy_64=64
	stoneBricks_64=64
	stoneCracked_64=64
	stoneChiseled_64=64
	stonePolished_64=64
	stone_64=64
	cobblestone_64=64
	rock_64=64
	record_64=64
	scraps_64=64
	scrap_64=64
	book_64=64
	paper_64=64
	dye_64=64
	dyeMixable_64=64
	dyeCeramic_64=64
	batterySingleuse_64=64
	battery_64=64
	circuit_64=64
	computer_64=64
}

